<section class="content container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mg10b">
        <div class="col-xs-6">
          <h4>
            <span class="page_title_clickable" ui-sref="admin.events.list">{{'event.page_title.list' |
              translate}}</span> >
            <form-title-only></form-title-only>
          </h4>
        </div>
        <div class="col-xs-6 text-right">
          <button-back back="admin.events.list" noback="admin.events.projects_apply" nohistory="true">
          </button-back>
        </div>
      </div>
      <table-search>
        <table-search-button>
        </table-search-button>
        <table-search-content>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
            <div class="form-group">
              <label>{{'com_projects.company.list.search.keyword.label' | translate}}</label>
              <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword"
                placeholder="{{'com_projects.list.search.keyword.placeholder' | translate}}"
                event-enter="vm.handleConditionChanged(true)" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label>{{'com_projects.list.search.magazine.label' | translate}}</label>
              <select name="magazine" class="form-control" ng-model="vm.condition.magazine">
                <option value="">{{'common.label.option_all' | translate}}</option>
                <option ng-repeat="item in masterdata.magazine_types" value="{{item.id}}"> {{item.value}}</option>
              </select>
            </div>
          </div>
          <!-- max row in page -->
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label>{{'common.label.max_row_in_page' | translate}}</label>
              <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit"
                placeholder="{{'common.placeholder.max_row_in_page' | translate}}" search-limit maxlength="4" />
            </div>
          </div>
        </table-search-content>
      </table-search>

      <div class="row">
        <!-- 各ボタン -->
        <div class="col-xs-12">
          <div class="title-group">
            <p class="mgn title-group__inline-title">
              {{ tableReport(vm.condition) }}
            </p>
          </div>
        </div>
        <!-- #各ボタン -->
        <div class="col-xs-12">
          <div class="table-responsive table-list">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="col-index">#</th>
                  <th class="text-center w100" tbtitle="{{'com_projects.list.table.header.number.label' | translate}}"
                    tbmodel="number" ng-click="vm.handleSortChanged('number')" table-order tbcondition="vm.condition">
                  </th>
                  <th class="text-left w150"
                    tbtitle="{{'com_projects.list.table.header.project_name.label' | translate}}" tbmodel="project_name"
                    ng-click="vm.handleSortChanged('project_name')" table-order tbcondition="vm.condition"></th>
                  <th class="text-center w100" tbtitle="{{'com_projects.list.table.header.total.label' | translate}}"
                    tbmodel="total" ng-click="vm.handleSortChanged('total')" table-order tbcondition="vm.condition">
                  </th>
                  <th class="text-center w100"
                    tbtitle="{{'com_projects.list.table.header.number_of_participants.label' | translate}}"
                    tbmodel="number_of_participants" ng-click="vm.handleSortChanged('number_of_participants')"
                    table-order tbcondition="vm.condition">
                  </th>
                  <th class="text-center w100">{{'com_projects.list.table.header.magazine.label' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="20" ng-show="!vm.docs || vm.docs.length === 0">
                    {{'common.table.no_data_available' | translate}}
                  </td>
                </tr>
                <tr ng-repeat="item in vm.docs track by $index">
                  <td class="text-center">
                    {{ tableIndex(vm.condition, $index) }}
                  </td>
                  <td class="text-center" ng-bind="item.number"></td>
                  <td ng-bind="item.project_name"></td>
                  <td class="text-center"
                    ng-bind="item.total | parse_donation_amount: item.status : masterdata.EVENT_STATUS.FINISHED"></td>
                  <td class="text-center" ng-bind="item.number_of_participants | format_person"></td>
                  <td class="text-center" ng-bind="showMasterValue(masterdata.magazine_types, item.magazine)"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-include="'/modules/core/client/views/pagination.client.view.html'"></div>
        </div>
      </div>

      <div class="row mg10b">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 text-center">
          <button-back back="admin.events.list" noback="admin.events.projects_apply" nohistory="true">
          </button-back>
        </div>
      </div>
    </div>
  </div>
</section>