<section class="content container-fluid">
  <div class="row mg10b">
    <div class="col-xs-6">
      <form-title></form-title>
    </div>
  </div>
  <table-search>
    <table-search-button>
    </table-search-button>
    <table-search-content>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div class="form-group">
          <label>{{'event.list.municipality.search.keyword.label' | translate}}</label>
          <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword"
            placeholder="{{'event.list.search.keyword.placeholder' | translate}}"
            event-enter="vm.handleConditionChanged(true)" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.pay_status.label' | translate}}</label>
          <select name="status" class="form-control" ng-model="vm.condition.pay_status">
            <option value="">{{'common.label.option_all' | translate}}</option>
            <option ng-repeat="item in masterdata.pay_statuses" ng-value="{{item.id}}"> {{item.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.send_status.label' | translate}}</label>
          <select name="status" class="form-control" ng-model="vm.condition.send_status">
            <option value="">{{'common.label.option_all' | translate}}</option>
            <option ng-repeat="item in masterdata.sent_statuses" ng-value="{{item.id}}"> {{item.value}}</option>
          </select>
        </div>
      </div>

      <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.status.label' | translate}}</label>
          <select name="status" class="form-control" ng-model="vm.condition.status">
            <option value="">{{'common.label.option_all' | translate}}</option>
            <option ng-repeat="item in masterdata.event_statuses" ng-value="{{item.id}}"> {{item.value}}</option>
          </select>
        </div>
      </div> -->
      <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.method.label' | translate}}</label>
          <select name="method" class="form-control" ng-model="vm.condition.method">
            <option value="">{{'common.label.option_all' | translate}}</option>
            <option ng-repeat="item in masterdata.payment_methods" value="{{item.id}}"> {{item.value}}</option>
          </select>
        </div>
      </div> -->
      <!-- Search by start date event -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.start_min.label' | translate}}</label>
          <input type="text" name="start_min" datetime-picker="" datepicker-options="vm.dateOptionsStartTimeMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'start_min')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.start_min" class="form-control" ng-model="vm.condition.start_min"
            ng-change="vm.onChangeStartTimeMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.start_max.label' | translate}}</label>
          <input type="text" name="start_max" datetime-picker="" datepicker-options="vm.dateOptionsStartTimeMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'start_max')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.start_max" class="form-control" ng-model="vm.condition.start_max" ng-change="vm.handleConditionChanged(false, 'start_max', {{
              vm.condition.start_max || 'null'
            }}); vm.onChangeStartTimeMax()" />
        </div>
      </div>

      <!-- Search by end date event -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.end_min.label' | translate}}</label>
          <input type="text" name="end_min" datetime-picker="" datepicker-options="vm.dateOptionsEndTimeMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'end_min')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.end_min" class="form-control" ng-model="vm.condition.end_min"
            ng-change="vm.onChangeEndTimeMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.end_max.label' | translate}}</label>
          <input type="text" name="end_max" datetime-picker="" datepicker-options="vm.dateOptionsEndTimeMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'end_max')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.end_max" class="form-control" ng-model="vm.condition.end_max" ng-change="vm.handleConditionChanged(false, 'end_max', {{
              vm.condition.end_max || 'null'
            }}); vm.onChangeEndTimeMax()" />
        </div>
      </div>

      <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.created_min.label' | translate}}</label>
          <input type="text" name="created_min" datetime-picker="" datepicker-options="vm.dateOptionsCreatedMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'created_min')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.created_min" class="form-control"
            ng-model="vm.condition.created_min" ng-change="vm.onChangeCreatedMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'event.list.search.created_max.label' | translate}}</label>
          <input type="text" name="created_max" datetime-picker="" datepicker-options="vm.dateOptionsCreatedMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'created_max')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.created_max" class="form-control"
            ng-model="vm.condition.created_max" ng-change="vm.handleConditionChanged(false, 'created_max', {{
              vm.condition.created_max || 'null'
            }}); vm.onChangeCreatedMax()" />
        </div>
      </div> -->

      <!-- max row in page -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'common.label.max_row_in_page' | translate}}</label>
          <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit"
            placeholder="{{'common.placeholder.max_row_in_page' | translate}}" search-limit maxlength="4" />
        </div>
      </div>
    </table-search-content>
  </table-search>

  <div class="row">
    <!-- 各ボタン -->
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title">
          {{ tableReport(vm.condition) }}
        </p>
      </div>
    </div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-index">#</th>
              <th class="w100 text-center" tbtitle="{{'event.list.table.header.number.label' | translate}}"
                tbmodel="event_name" ng-click="vm.handleSortChanged('number')" table-order tbcondition="vm.condition">
              </th>
              <th class="w150" tbtitle="{{'event.list.table.header.event_name.label' | translate}}" tbmodel="event_name"
                ng-click="vm.handleSortChanged('event_name')" table-order tbcondition="vm.condition"></th>
              <th class="text-left w200" tbtitle="{{'event.list.table.header.company_name.label' | translate}}"
                tbmodel="company_name" ng-click="vm.handleSortChanged('company_name')" table-order
                tbcondition="vm.condition"></th>
              <!-- <th class="text-left w200" tbtitle="{{'event.list.table.header.municipality_name.label' | translate}}"
                tbmodel="municipality_name" ng-click="vm.handleSortChanged('municipality_name')" table-order
                tbcondition="vm.condition"></th> -->
              <th class="text-center w100">{{'event.list.table.header.method.label' | translate}}</th>
              <th class="text-left w150">{{'event.list.table.header.pay_status.label' | translate}}</th>
              <th class="text-left w150">{{'event.list.table.header.send_status.label' | translate}}</th>
              <th class="text-center w150" tbtitle="{{'event.list.table.header.zipcode.label' | translate}}"
                tbmodel="zipcode" ng-click="vm.handleSortChanged('zipcode')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-center w150" tbtitle="{{'event.list.table.header.address.label' | translate}}"
                tbmodel="address" ng-click="vm.handleSortChanged('address')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-center w150" tbtitle="{{'event.list.table.header.name.label' | translate}}" tbmodel="name"
                ng-click="vm.handleSortChanged('name')" table-order tbcondition="vm.condition"></th>
              <th class="text-center w150" tbtitle="{{'event.list.table.header.start.label' | translate}}"
                tbmodel="start" ng-click="vm.handleSortChanged('start')" table-order tbcondition="vm.condition"></th>
              <th class="text-center w150" tbtitle="{{'event.list.table.header.end.label' | translate}}" tbmodel="end"
                ng-click="vm.handleSortChanged('end')" table-order tbcondition="vm.condition"></th>
              <th class="text-center w150" tbtitle="{{'event.list.table.header.magazine.label' | translate}}"
                tbmodel="magazine" ng-click="vm.handleSortChanged('magazine')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-center w100">{{'common.table.header.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="20" ng-show="!vm.docs || vm.docs.length === 0">
                {{'common.table.no_data_available' | translate}}
              </td>
            </tr>
            <tr ng-repeat="item in vm.docs track by $index" ui-sref="admin.events.detail({ eventId: item._id })"
              class="clickable">
              <td class="text-center">
                {{ tableIndex(vm.condition, $index) }}
              </td>
              <td ng-bind="item.number"></td>
              <td ng-bind="item.event_name"></td>
              <td ng-bind="getFullCompanyName(item.company_kind, item.company_name)"></td>
              <!-- <td ng-bind="item.municipality_name"></td> -->
              <td class="text-center" ng-bind="showMasterValue(masterdata.payment_methods, item.method)">aaa</td>
              <td class="text-center" ng-bind="showMasterValue(masterdata.pay_statuses, item.pay_status)"></td>
              <td class="text-center" ng-bind="showMasterValue(masterdata.sent_statuses, item.send_status)"></td>
              <td class="text-center" ng-bind="item.zipcode"></td>
              <td class="text-center" ng-bind="item.address"></td>
              <td class="text-center" ng-bind="item.name"></td>
              <td class="text-center" ng-bind="item.start | dateTimeNormal"></td>
              <td class="text-center" ng-bind="item.end | dateTimeNormal"></td>
              <td class="text-center" ng-bind="showMasterValue(masterdata.magazine_types, item.magazine)"></td>
              <td class="text-center" ui-sref-ignore>
                <button class="btn btn-xs btn-primary" ui-sref="admin.events.detail({ eventId: item._id })">
                  <i class="fa fa-info" aria-hidden="true"></i>
                  {{'common.button.detail' | translate}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-include="'/modules/core/client/views/pagination.client.view.html'"></div>
    </div>
  </div>
</section>