<div class="card" ng-if="vm.municInfo.question && vm.municInfo.question !== ''">
  <div class="card-body">
    <div class="d-flex">
      <h5><b>申込に関する備考</b></h5>
    </div>
    <div class="border-split"></div>
    <div class="row mg12y d-flex align-center">
      <div class="col-xs-12 col-sm-12 col-md-12 form-group mb-0" show-errors>
        <span>{{vm.municInfo.question}}</span>
        <textarea type="text" class="form-control pay-input w100p"
          name="note_question"
          rows="5"
          placeholder="最大200文字"
          ng-model="vm.data.note_question"
          maxlength="200"
          />
        </textarea>
      </div>
    </div>
  </div>
</div>

<div class="card" ng-if="vm.municInfo.checklist && vm.municInfo.checklist !== ''">
  <div class="card-body">
    <div class="d-flex">
      <h5><b>自治体からの事前確認事項</b></h5>
    </div>
    <div class="border-split"></div>
    <div class="row mg12y d-flex align-center">
      <div class="col-xs-12 col-sm-12 col-md-12 form-group mb-0 word-break break-line" ng-bind-html="vm.municInfo.checklist">
       
      </div>
    </div>
    <div class="row mg12y d-flex align-center">
      <div class="col-md-12 text-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            ng-model="vm.data.is_accept_term"
            ng-click="vm.onAcceptTerm()"
           id="is_accept_term">
          <label class="form-check-label" for="is_accept_term" style="cursor: pointer;">
            上記の内容をすべて了解しました。
          </label>
        </div>
      </div>
    </div>
  </div>
</div>