<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <h5><b>書類送付先の設定</b></h5>
    </div>
    <div class="border-split"></div>
    <div class="row mg12y">
      <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
        <label>書類送付先：</label>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="option-group" style="margin-top: 0">
          <input class="option-input" type="radio" name="doc_is_same_resident"
            value="1"
            id="doc_is_same_resident"
            ng-click="vm.onChangeIsDocSameResident(1)"
            
            ng-model="vm.data.docs.doc_is_same_resident"
            checked="vm.data.docs.doc_is_same_resident === 1">
          <label for="doc_is_same_resident" style="cursor: pointer; font-weight: normal;">住民票の住所と同じ</label>
        </div>
        <div class="option-group" style="margin-top: 0">
          <input class="option-input" type="radio" name="doc_is_same_resident"
            value="2"
            id="doc_is_not_same_resident"
            checked="vm.data.docs.doc_is_same_resident === 2"
            ng-click="vm.onChangeIsDocSameResident(2)"
            ng-model="vm.data.docs.doc_is_same_resident">
            <label for="doc_is_not_same_resident" style="cursor: pointer; font-weight: normal;">住民票と異なる住所に送付する</label>
        </div>
      </div>
    </div>

    <div ng-if="vm.data.docs.doc_is_same_resident === 2">
      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_last_name.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-4 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            name="doc_add_last_name"
            ng-model="vm.data.docs.doc_add_last_name"
            required
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_last_name.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_last_name.error.required' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_first_name.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-4 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            name="doc_add_first_name"
            ng-model="vm.data.docs.doc_add_first_name"
            required
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_first_name.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_first_name.error.required' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_last_name_kana.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-4 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            name="doc_add_last_name_kana"
            ng-model="vm.data.docs.doc_add_last_name_kana"
            required
            input-validator='hiragana'
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_last_name_kana.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_last_name_kana.error.required' | translate}}</small>
            <small class="text-red" ng-message="hiragana">{{'ecommerce.follow.two.tax_last_name_kana.error.kana' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_first_name_kana.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-4 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            name="doc_add_first_name_kana"
            ng-model="vm.data.docs.doc_add_first_name_kana"
            required
            input-validator='hiragana'
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_first_name_kana.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_first_name_kana.error.required' | translate}}</small>
            <small class="text-red" ng-message="hiragana">{{'ecommerce.follow.two.tax_first_name_kana.error.kana' | translate}}</small>
          </div>
        </div>
      </div>
      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_zipcode.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-4 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            ng-model="vm.data.docs.doc_add_zipcode"
            ng-change="vm.getAddressByZipcode(vm.data.docs.doc_add_zipcode, 'tax_info')"
            required
            name="doc_add_zipcode"
            minlength="7"
            ng-pattern="/^[0-9]*$/"
            ng-maxlength="7"
            maxlength="7"
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_zipcode.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_zipcode.error.required' | translate}}</small>
            <small class="text-red" ng-message="pattern">{{'ecommerce.follow.two.tax_zipcode.error.invalid' | translate}}</small>
            <small class="text-red" ng-message="maxlength">{{'ecommerce.follow.two.tax_zipcode.error.invalid' | translate}}</small>
            <small class="text-red" ng-message="minlength">{{'ecommerce.follow.two.tax_zipcode.error.invalid' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_prefecture.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-4 form-group mb-0" show-errors>
          <!-- <input type="text" class="form-control pay-input w100p"
            name="doc_add_prefecture"
            ng-model="vm.data.docs.doc_add_prefecture"
            required
          /> -->

          <select  class="form-control"
            name="doc_add_prefecture"
            ng-model="vm.data.docs.doc_add_prefecture"
            required
            >
            <option value="{{prefecture}}" ng-selected="prefecture === vm.data.docs.doc_add_prefecture" ng-repeat="prefecture in vm.prefectures">{{prefecture}}</option>
          </select>


          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_prefecture.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_prefecture.error.required' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_city.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            name="doc_add_city"
            ng-model="vm.data.docs.doc_add_city"
            required
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_city.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_city.error.required' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_address.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            name="doc_add_address"
            ng-model="vm.data.docs.doc_add_address"
            required
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_address.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_address.error.required' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_building.label' | translate}}</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <input type="text" class="form-control pay-input w100p"  ng-model="vm.data.docs.doc_add_building" />
        </div>
      </div>

      <div class="row mg12y align-center">
        <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
          <label>{{'ecommerce.follow.two.tax_tel.label' | translate}}<small class="text-red">*</small></label>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-4 form-group mb-0" show-errors>
          <input type="text" class="form-control pay-input w100p"
            name="doc_add_tel"
            ng-model="vm.data.docs.doc_add_tel"
            required
            phone-validator
          />
          <div ng-if="vm.isSaveClick && vm.isChangeIsDocSameResident2" ng-messages="vm.follow2Info.doc_add_tel.$error" role="alert">
            <small class="text-red" ng-message="required">{{'ecommerce.follow.two.tax_tel.error.required' | translate}}</small>
            <small class="text-red" ng-message="onlynumber">{{'ecommerce.follow.two.tax_tel.error.onlynumber' | translate}}</small>
            <small class="text-red" ng-message="not_has-">{{'ecommerce.follow.two.tax_tel.error.not_has-'| translate}}</small>
            <small class="text-red" ng-message="format_phone">{{'ecommerce.follow.two.tax_tel.error.format_phone'| translate}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
