<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-12 mg20t mg20l mg20r">
      <label for="status">{{'request_authorization.modal_input_reject_request_reason.form.reject_reason.label' |
        translate}}</label>
      <textarea name="rejectReason" class="form-control" rows="5" ng-model="vm.rejectReason"
        placeholder="{{'request_authorization.modal_input_reject_request_reason.form.reject_reason.placeholder' | translate}}"
        maxlength="20000">
    </textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="closeThisDialog()">{{'common.button.close' |
    translate}}</button>
  <button class="btn btn-primary" type="button" ng-click="vm.save()"
    ng-disabled="!vm.rejectReason">{{'common.button.save' |
    translate}}</button>
</div>