<section class="content container-fluid">
  <form name="vm.locationForm" class="form-edit notice-form" ng-submit="vm.update(vm.locationForm.$valid)" novalidate
    autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="admin.locations.list"></button-back>
            <button-save></button-save>
          </div>
        </div>

        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'locations.form.municipality.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <select name="municipality" class="form-control" ng-model="vm.location.municipality" required>
                    <option value="">{{'locations.form.municipality.placeholder' | translate}}</option>
                    <option ng-repeat="item in vm.municipalities" value="{{item._id}}"> {{item.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1">
                  {{'locations.form.code.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="code" class="form-control" ng-model="vm.location.code"
                    placeholder="{{'locations.form.code.placeholder' | translate}}" required maxlength="60">
                </td>
              </tr>
              <tr>
                <th class="col-xs-1">
                  {{'locations.form.name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="name" class="form-control" ng-model="vm.location.name"
                    placeholder="{{'locations.form.name.placeholder' | translate}}" required maxlength="60"
                    ng-maxlength="60">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'locations.form.last_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="last_name" class="form-control" ng-model="vm.location.admin.last_name"
                    placeholder="{{'locations.form.last_name.placeholder' | translate}}" required ng-maxlength="16"
                    maxlength="16">
                </td>
                <th class="col-xs-2">
                  {{'locations.form.first_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="3">
                  <input type="text" name="first_name" class="form-control" ng-model="vm.location.admin.first_name"
                    placeholder="{{'locations.form.first_name.placeholder' | translate}}" required ng-maxlength="16"
                    maxlength="16">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'locations.form.number.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="number" class="form-control" ng-model="vm.location.admin.number"
                    placeholder="{{'locations.form.number.placeholder' | translate}}">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'locations.form.phone.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input name="phone" class="form-control" ng-model="vm.location.admin.phone"
                    placeholder="{{'locations.form.phone.placeholder' | translate}}" minlength="9" maxlength="13"
                    required input-validator="tel">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'locations.form.email.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="email" name="email" class="form-control" ng-model="vm.location.admin.email"
                    placeholder="{{'locations.form.email.placeholder' | translate}}" required input-validator="email">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'locations.form.password.label' | translate}}
                  <span class="text-red" ng-if="!vm.location._id">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="password" name="password" class="form-control" ng-model="vm.location.admin.password"
                    placeholder="{{'locations.form.password.placeholder' | translate}}"
                    ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,16}$/" ng-required="!vm.location._id"
                    ng-minlength="8" maxlength="16">
                  <span><small>{{'locations.form.note_password.label' | translate}}</small></span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'locations.form.confirmation_password.label' | translate}}
                  <span class="text-red" ng-if="!vm.location._id">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="password" name="confirmation_password" class="form-control"
                    ng-model="vm.location.confirmation_password"
                    placeholder="{{'locations.form.confirmation_password.placeholder' | translate}}"
                    password-verify="vm.location.admin.password" ng-required="!vm.location._id">
                  <span><small>{{'locations.form.note_password.label' | translate}}</small></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="admin.locations.list"></button-back>
          <button-save></button-save>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.locationForm.municipality.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.municipality.error.required' | translate}}
            </li>
          </div>
          <div ng-messages="vm.locationForm.code.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.code.error.required' | translate}}
            </li>
          </div>
          <div ng-messages="vm.locationForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.name.error.required' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'locations.form.name.error.max_length' | translate}}</li>
          </div>
          <div ng-messages="vm.locationForm.number.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.number.error.required' | translate}}
            </li>
          </div>

          <div ng-messages="vm.locationForm.last_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.last_name.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'locations.form.last_name.error.max_length' | translate}}
            </li>
          </div>
          <div ng-messages="vm.locationForm.first_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.first_name.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'locations.form.first_name.error.max_length' |
              translate}}</li>
          </div>

          <div ng-messages="vm.locationForm.phone.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.phone.error.required' | translate}}</li>
            <li class="text-red" ng-message="tel">{{'locations.form.phone.error.invalid' | translate}}</li>
          </div>

          <div ng-messages="vm.locationForm.email.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.email.error.required' | translate}}</li>
            <li class="text-red" ng-message="email">{{'locations.form.email.error.invalid' | translate}}</li>
          </div>
          <div ng-messages="vm.locationForm.password.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.password.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="minlength">{{'locations.form.password.error.maxlength' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'locations.form.password.error.maxlength' | translate}}
            </li>
            <li class="text-red" ng-message="pattern">{{'locations.form.password.error.invalid' | translate}}</li>
          </div>
          <div ng-messages="vm.locationForm.confirmation_password.$error" role="alert">
            <li class="text-red" ng-message="required">{{'locations.form.confirmation_password.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="passwordVerify">
              {{'locations.form.confirmation_password.error.passwordVerify' | translate}}</li>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>