<section class="content container-fluid">

  <div class="row mg10b">
    <div class="col-xs-6">
      <form-title></form-title>
    </div>
  </div>
  <table-search>
  </table-search>

  <div class="row">
    <div id="token">{{vm.token}}</div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <button class="btn btn-primary" type="button" ng-click="vm.onCreateRoomZoom()">Create room zoom</button>
      <button class="btn btn-primary" type="button" onclick="joinRoom()">Create room zoom</button>
    </div>
  </div>
</section>
<script>
      // room.once('disconnected', (room, error) => {});

  function joinRoom() {
    var token = $('#token').text();
    const Video = Twilio.Video;

    if (Video.isSupported) {
      Video.connect(token, {
        name: 'Myroom',
        video: true,
        _useTwilioConnection: true,
        logLevel: 'debug',
        audio: true
      }).then(room => {
        console.log(`Successfully joined a Room: ${room}`);
        // room.on('participantConnected', participant => {
        //   console.log(`A remote Participant connected: ${participant}`);
        // });
      }, error => {
        console.error(`Unable to connect to Room: ${error.message}`);
      });
    } else {
      console.error('This browser is not supported by twilio-video.js.');
    }


  }
</script>