.border-split {
	border-top: 1px dashed rgba(0, 0, 0, .09);
}

.bdb-default {
	border-bottom: 1px solid #eee;
}

.option-group {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.option-input {
	margin: 0 !important;
	margin-right: 12px !important;
}

.pay-alert {
    padding: 15px 10px;
    background-color: #ff0066;
    color: white;
    border-radius: 3px;
    margin: 20px 0;
}

.pay-label {
    text-align: left;
}

.pay-input {
    height: 28px;
    border-radius: 3px;
}

.total-price {
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
}

@media (min-width: 768px) {
	.pay-label {
		text-align: right;
	}
}