<section class="content container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
      <div class="log-off-wrap">
        <h3 class="mgn mg10b"><i class="fa fa-lock" aria-hidden="true"></i>
          {{'common.label.change_pass' | translate}}
        </h3>
        <form name="vm.passwordForm" ng-submit="vm.handleChangePassword(vm.passwordForm.$valid)" class="signin"
          novalidate autocomplete="off">
          <fieldset>
            <div class="form-group" show-errors>
              <label for="currentPassword">{{'change_password.form.current_password.label' | translate}}</label>
              <input type="password" id="currentPassword" name="currentPassword" class="form-control"
                ng-model="vm.passwordDetails.currentPassword"
                placeholder="{{'change_password.form.current_password.placeholder' | translate}}" required autofocus>
              <div ng-messages="vm.isSaveClick && vm.passwordForm.currentPassword.$error" role="alert">
                <p class="text-red" ng-message="required">
                  {{'change_password.form.current_password.error.required' | translate}}</p>
              </div>
            </div>
            <div class="form-group mg10t" show-errors>
              <label for="newPassword">{{'change_password.form.new_password.label' | translate}}</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control"
                ng-model="vm.passwordDetails.newPassword"
                placeholder="{{'change_password.form.new_password.placeholder' | translate}}" minlength="8"
                maxlength="16" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,16}$/" required
                ng-change="vm.onChangeNewPassword()">
              <div ng-messages="vm.isSaveClick && vm.passwordForm.newPassword.$error" role="alert">
                <p class="text-red" ng-message="required">
                  {{'change_password.form.new_password.error.required' | translate}}</p>
                <p class="text-red" ng-message="minlength">{{'change_password.form.new_password.error.length' |
                  translate}}</p>
                <p class="text-red" ng-message="maxlength">{{'companies.form.password.error.length' | translate}}</p>
                <p class="text-red" ng-message="pattern">{{'change_password.form.new_password.error.invalid' |
                  translate}}</p>
              </div>
            </div>
            <div class="form-group mg10t" show-errors>
              <label for="verifyPassword">{{'change_password.form.verify_password.label' | translate}}</label>
              <input type="password" id="verifyPassword" name="verifyPassword" class="form-control"
                ng-model="vm.passwordDetails.verifyPassword"
                placeholder="{{'change_password.form.verify_password.placeholder' | translate}}"
                password-verify="vm.passwordDetails.newPassword" required>
              <div ng-messages="vm.isSaveClick && vm.passwordForm.verifyPassword.$error" role="alert">
                <p class="text-red" ng-message="required">
                  {{'change_password.form.verify_password.error.required' | translate}}</p>
                <p class="text-red" ng-message="passwordVerify">
                  {{'change_password.form.verify_password.error.password_verify' | translate}}</p>
              </div>
            </div>
            <button type="submit" class="btn btn-logoff">{{'common.button.save' | translate}}</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>