<div class="login-box-body">
  <div class="login-logo text-center">
    <img width="100px" src="/modules/core/client/img/brand/logo.png" class="img-responsive" alt="">
  </div>
  <div class="text-center">
    <p class="mg30">
      <i class="fa fa-3x fa-paper-plane" aria-hidden="true"></i>
    </p>
    <b>{{'sent_mail_reset_password.form.message1' | translate}}</b>
    <br>
    <p>
      {{'sent_mail_reset_password.form.message2' | translate}}<br />{{'sent_mail_reset_password.form.message3' |
      translate}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mg30t text-center">
    <a ui-sref="ecommerce.reset_password">{{'sent_mail_reset_password.form.button.reset_again' | translate}}</a>
  </div>
  <div class="col-xs-12 mg20t text-center">
    <a ui-sref="ecommerce.signin">{{'reset_password.form.link.return_to_login' | translate}}</a>
  </div>
</div>