<section class="content container-fluid">
  <div class="row mg10b">
    <div class="col-xs-6">
      <h4 ng-if="!isAdminOrSubAdmin">
        <span class="page_title_clickable" ui-sref="company.events.list">
          {{'event.page_title.list' | translate}}
        </span>&nbsp;>
        <form-title-only></form-title-only>
      </h4>
      <h4 ng-if="isAdminOrSubAdmin">
        <form-title-only></form-title-only>
      </h4>
    </div>
    <div class="col-xs-6 text-right">
      <button-back back="company.events.list"></button-back>
    </div>
  </div>
  <!-- search condition -->
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <h4>{{'event.project_search.search.event_period.label' | translate}}</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <input type="text" name="start" datetime-picker="" datepicker-options="vm.dateOptionsStart"
              timepicker-options="timeOptions" ng-click="openCalendar($event, 'start')" placeholder="YYYY/MM/DD HH:mm"
              is-open="open.start" class="form-control" ng-model="vm.conditionMunicipalities.start"
              ng-change="vm.onChangeStart()" ng-disabled="vm.isSearchedProjects" readonly />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <input type="text" name="end" datetime-picker="" datepicker-options="vm.dateOptionsEnd"
              timepicker-options="timeOptions" ng-click="openCalendar($event, 'end')" placeholder="YYYY/MM/DD HH:mm"
              is-open="open.end" class="form-control" ng-model="vm.conditionMunicipalities.end"
              ng-change="vm.onChangeEnd()" ng-disabled="vm.isSearchedProjects" readonly />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="form-group">
            <button type="button" class="btn btn-primary"
              ng-disabled="(!vm.conditionMunicipalities.start || !vm.conditionMunicipalities.end) || vm.isSearchedProjects"
              ng-click="vm.searchMunicipalities()">
              <i class="fa fa-search"></i> {{'event.project_search.search.municipality_search.button' |
              translate}}</button>
            <button type="button" class="btn btn-danger" ng-click="vm.reset()">
              <i class="fa fa-refresh ml-1"></i>
              {{'event.project_search.search.reset.button' |
              translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- municipalities -->
  <div class="row mg10t" ng-if="vm.isSearchedMunicipalities && !vm.isSearchedProjects">
    <div class="col-xs-12">
      <div class="form-group">
        <h4>{{'municipalities.list.page.title' | translate}}</h4>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title">
          {{ tableReport(vm.conditionMunicipalities) }}
        </p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-index">#</th>
              <th class="text-center w150" tbtitle="{{'municipalities.list.table.header.code.label' | translate}}"
                tbmodel="code" ng-click="vm.handleSortChangedForMunicipalities('code')" table-order
                tbcondition="vm.conditionMunicipalities"></th>
              <th class="text-left w200" tbtitle="{{'municipalities.list.table.header.name.label' | translate}}"
                tbmodel="name" ng-click="vm.handleSortChangedForMunicipalities('name')" table-order
                tbcondition="vm.conditionMunicipalities"></th>
              <th class="text-center w100">{{'common.table.header.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="20" ng-show="!vm.municipalities || vm.municipalities.length === 0">
                {{'common.table.no_data_available' | translate}}
              </td>
            </tr>
            <tr ng-repeat="item in vm.municipalities track by $index">
              <td class="text-center">
                {{ tableIndex(vm.conditionMunicipalities, $index) }}
              </td>
              <td class="text-center" ng-bind="item.code"></td>
              <td ng-bind="item.name"></td>
              <td class="text-center" ui-sref-ignore>
                <button class="btn btn-md btn-primary" ng-click="vm.handleSelectMunicipality(item)">
                  {{'event.project_search.select_municipality.button' | translate}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination class="mg10t" total-items="vm.conditionMunicipalities.total"
        ng-model="vm.conditionMunicipalities.page" max-size="5" boundary-links="true"
        items-per-page="vm.conditionMunicipalities.limit" ng-click="vm.handlePageChangedForMunicipalities()"
        previous-text="前" next-text="次" first-text="最初" last-text="最後"></uib-pagination>
    </div>
  </div>

  <!-- projects -->
  <div ng-if="vm.isSearchedProjects">
    <div class="row" ng-if="vm.isSearchedProjects">
      <div class="col-xs-12">
        <div class="form-group">
          <h4>{{'event.project_search.search.municipality.label' | translate}}</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <span class="form-control"
            style="display: inline-block; width: unset; height: unset; margin-bottom: 10px;min-width: 200px;">
            {{vm.conditionProjects.municipalityName}}
          </span>
          <button type="button" class="btn btn-warning" ng-click="vm.reselectMunicipality()">
            <i class="fa fa-repeat"></i>
            {{'event.project_search.search.reselect_municipality.button' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div class="row mg10t">
      <div class="col-xs-12">
        <a class="btn btn-success btn-sm pull-right" ng-click="vm.apply()"
          ng-disabled="vm.projectIdsSelected.length === 0">
          {{'project.list.button.apply' | translate}}
        </a>
      </div>
      <!-- 各ボタン -->
      <div class="col-xs-12">
        <div class="title-group">
          <p class="mgn title-group__inline-title">
            {{ tableReport(vm.conditionProjects) }}
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 mg10b" ng-repeat="item in vm.projects track by $index">
            <div class="row" style="margin: 0px; border: 1px solid #ccc; padding: 15px 0px;"
              ng-class="{'project_selected' : vm.projectIdsSelected.includes(item._id)}">
              <div class="col-xs-3">
                <div style="margin-left: auto;margin-right: auto;">
                  <div class="panel-default text-center" style="margin-bottom: 0px;">
                    <img class="img-responsive clickable" style="max-height: 180px; display: unset;"
                      src="{{getImageDefault(item.image)}}" ng-click="handleShowImage(getImageDefault(item.image))">
                  </div>
                </div>
              </div>
              <div class="col-xs-9">
                <div class="mg10b" style="font-size: 18px;"><strong>{{item.name}}</strong></div>
                <div class="mg10b"><strong>{{'event.project_search.project_description.label' | translate}}</strong>
                </div>
                <div class="word-break break-line" ng-bind-html="item.description | myParseUrl">
                </div>
              </div>
              <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-success mg5t" ng-click="vm.onSelect(item._id)"
                  ng-if="vm.projectIdsSelected.includes(item._id)" style="border-radius: unset;">
                  {{'event.project_search.selected.button' | translate}}
                </button>
                <button type="button" class="btn btn-primary mg5t" ng-click="vm.onSelect(item._id)"
                  ng-if="!vm.projectIdsSelected.includes(item._id)" style="border-radius: unset;">
                  {{'event.project_search.unselected.button' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <uib-pagination class="mg10t" total-items="vm.conditionProjects.total" ng-model="vm.conditionProjects.page"
        max-size="5" boundary-links="true" items-per-page="vm.conditionProjects.limit"
        ng-click="vm.handlePageChangedForProjects()" previous-text="前" next-text="次" first-text="最初" last-text="最後">
      </uib-pagination>
    </div>

    <div class="form-group mgnb mg50b text-center" ng-if="vm.isSearchedProjects">
      <button-back back="company.events.list"></button-back>
      <a class="btn btn-success btn-sm " ng-click="vm.apply()" ng-disabled="vm.projectIdsSelected.length === 0">
        {{'project.list.button.apply' | translate}}
      </a>
    </div>
  </div>
</section>