<section class="content container-fluid">
  <form name="vm.applyForm" class="form-edit project-form" ng-submit="vm.update(vm.applyForm.$valid)" novalidate
    autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-8">
            <h4>
              <span class="page_title_clickable" ui-sref="company.events.list">
                {{'event.page_title.list' | translate}}
              </span>&nbsp;>
              <span class="page_title_clickable" ui-sref="company.events.project_search">
                {{'event.page_title.project_search' | translate}}
              </span>&nbsp;>
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-4 text-right">
            <button-back back="company.events.project_search" params="{municipalityId: vm.municipalityId}">
            </button-back>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="!vm.isReadCondition">
              <i class="fa fa-save"></i>
              {{'common.button.save' | translate}}
            </button>
          </div>
        </div>

        <!-- Project names selected -->
        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4><strong>{{'event.project_apply.form.municipality_selected.subtitle' | translate}}</strong></h4>
            </div>
            <div class="col-xs-12">
              <span>{{vm.municipalityName}}</span>
            </div>
          </div>
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4><strong>{{'event.project_apply.form.project_selected.subtitle' | translate}}</strong></h4>
            </div>
            <div class="col-xs-12">
              <div style="border: 1px solid #ccc; padding: 6px;">
                {{vm.projectNamesSelectedString}}
              </div>
            </div>
          </div>
        </div>

        <!-- event name -->
        <div class="table-custom">
          <table class="table table-detail table-bordered" style="margin-bottom: 0px;">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'event.project_apply.form.event_name.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <input type="text" name="event_name" class="form-control" ng-model="vm.applyData.event_name"
                    placeholder="{{'event.project_apply.form.event_name.placeholder' | translate}}">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- event input -->
        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4 style="display: inline;margin-right: 15px;">
                {{'event.project_apply.form.donation_amount.subtitle' |translate}}
              </h4>
              <div class="form-check inline-block" ng-repeat="(key, item) in masterdata.event_types">
                <input class="form-check-input clickable" ng-value="item.id" ng-model="vm.applyData.type"
                  ng-checked="item.id === vm.applyData.type" type="radio" name="type" id="type_{{item.id}}">
                <label class="form-check-label clickable" for="type_{{item.id}}">{{item.value}}</label>&nbsp;&nbsp;
              </div>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <!-- floating -->
                <th class="col-xs-2" ng-if="vm.applyData.type === masterdata.event_type.FLOATING">
                  {{'event.project_apply.form.amount_per_step.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors
                  ng-if="vm.applyData.type === masterdata.event_type.FLOATING">
                  <input type="number" name="amount_per_step" class="form-control apply_form_input"
                    ng-model="vm.applyData.aps"
                    placeholder="{{'event.project_apply.form.amount_per_step.placeholder' | translate}}" required
                    min="{{vm.configObject.aps || masterdata.MINIMUM_APS}}" input-validator="float"
                    ng-model-options="{allowInvalid: true}" abs_number ng-change="vm.calculateAmountAndPointPlanned()">
                  <span>{{'common.label.unit.money' | translate}}</span>
                  <div style="margin-top: 2px;">
                    {{vm.apsNote}}
                  </div>
                </td>

                <!-- fixed -->
                <th class="col-xs-2" ng-if="vm.applyData.type === masterdata.event_type.FIXED">
                  {{'event.project_apply.form.donation_amount.label' | translate}}
                  <span class="text-red" ng-if="vm.isRequiredMinDonationAmount">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors ng-if="vm.applyData.type === masterdata.event_type.FIXED">
                  <input type="number" name="donation_amount" class="form-control apply_form_input"
                    ng-model="vm.applyData.donation_amount" number-integer-only
                    placeholder="{{'event.project_apply.form.donation_amount.placeholder' | translate}}"
                    ng-required="vm.isRequiredMinDonationAmount" input-validator="number"
                    ng-keydown="preventPressCommaKey($event)">
                  <span>{{'common.label.unit.money' | translate}}</span>
                  <div ng-if="vm.isRequiredMinDonationAmount" style="margin-top: 2px;">
                    {{vm.minDonationAmountNote}}
                  </div>
                </td>

                <!-- both -->
                <th class="col-xs-2">
                  {{'event.project_apply.form.point_per_step.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="number" name="point_per_step" class="form-control apply_form_input"
                    ng-model="vm.applyData.pps" readonly
                    placeholder="{{'event.project_apply.form.point_per_step.placeholder' | translate}}" required
                    ng-model-options="{allowInvalid: true}" abs_number ng-change="vm.calculateAmountAndPointPlanned()">
                  <span>{{'common.label.unit.point' | translate}}</span>
                </td>
              </tr>
              <!-- both -->
              <tr>
                <th class="col-xs-2">
                  {{'event.project_apply.form.start.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group datetime-picker" show-errors>
                  <input type="text" name="start" datetime-picker="" timepicker-options="timeOptions"
                    class="form-control" ng-model="vm.applyData.start" required disabled />
                </td>
                <th class="col-xs-2">
                  {{'event.project_apply.form.end.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group datetime-picker" show-errors>
                  <input type="text" name="end" datetime-picker="" timepicker-options="timeOptions" class="form-control"
                    ng-model="vm.applyData.end" required disabled />
                </td>
              </tr>

              <!-- floating -->
              <tr ng-if="vm.applyData.type === masterdata.event_type.FLOATING">
                <th class="col-xs-2">
                  {{'event.project_apply.form.min_donation_amount.label' | translate}}
                  <span class="text-red" ng-if="vm.isRequiredMinDonationAmount">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="number" name="min_donation_amount" class="form-control apply_form_input"
                    ng-model="vm.applyData.min_donation_amount" number-integer-only
                    placeholder="{{'event.project_apply.form.min_donation_amount.placeholder' | translate}}"
                    ng-required="vm.isRequiredMinDonationAmount" input-validator="number"
                    ng-keydown="preventPressCommaKey($event)">
                  <span>{{'common.label.unit.money' | translate}}</span>
                  <div ng-if="vm.isRequiredMinDonationAmount" style="margin-top: 2px;">
                    {{vm.minDonationAmountNote}}
                  </div>
                </td>
                <th class="col-xs-2">
                  {{'event.project_apply.form.max_donation_amount.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="number" name="max_donation_amount" class="form-control apply_form_input"
                    ng-model="vm.applyData.max_donation_amount" number-integer-only
                    placeholder="{{'event.project_apply.form.max_donation_amount.placeholder' | translate}}"
                    input-validator="number" ng-keydown="preventPressCommaKey($event)">
                  <span>{{'common.label.unit.money' | translate}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- simulation -->
        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4>{{'event.project_apply.form.donation_amount_simulation.subtitle' | translate}}</h4>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr ng-if="vm.applyData.type === masterdata.event_type.FLOATING">
                <th class="col-xs-2">
                  {{'event.project_apply.form.number_of_participant.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <input type="number" name="number_of_participant" number-integer-only
                    class="form-control apply_form_simulation_input" ng-model="vm.numberOfParticipant" placeholder="0"
                    ng-keydown="preventPressCommaKey($event)" ng-change="vm.calculateAmountAndPointPlanned()">
                  <span>{{'common.label.unit.person' | translate}}</span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'event.project_apply.form.average_number_of_step_per_day.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <input type="number" name="average_number_of_step_per_day" number-integer-only
                    class="form-control apply_form_simulation_input" ng-model="vm.averageNumberOfStepPerDay"
                    placeholder="0" ng-keydown="preventPressCommaKey($event)"
                    ng-change="vm.calculateAmountAndPointPlanned()">
                  <span>{{'common.label.unit.step' | translate}}</span>
                </td>
              </tr>
              <tr ng-if="vm.applyData.type === masterdata.event_type.FLOATING">
                <td class="col-xs-12 form-group datetime-picker" colspan="4" style="padding: 7px;">
                  <span>{{'event.project_apply.form.donation_amount.label1' | translate}}</span>
                  <span>{{(vm.donationAmountPlanned | number) + '円'}}</span>
                  <span>{{'event.project_apply.form.donation_amount.label2' | translate}}</span>
                </td>
              </tr>
              <tr>
                <td class="col-xs-12 form-group datetime-picker" colspan="4" style="padding: 7px;">
                  <span>{{'event.project_apply.form.point_per_person.label1' | translate}}</span>
                  <span>{{(vm.donationPointPlanned | number) + 'pt'}}</span>
                  <span>{{'event.project_apply.form.point_per_person.label2' | translate}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- payment method -->
        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4>{{'event.project_apply.form.donation.subtitle' | translate}}</h4>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'event.project_apply.form.payment_method.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <div class="form-check inline-block" ng-repeat="(key, item) in vm.methodsOfMunicipality"
                    style="padding-left: 15px;">
                    <input class="form-check-input clickable" ng-value="item.id" ng-model="vm.applyData['method']"
                      ng-checked="item.id === vm.applyData['method']" type="radio" name="payment_method"
                      id="payment_method_{{item.id}}">
                    <label class="form-check-label clickable" for="payment_method_{{item.id}}"
                      ng-click="vm.applyData['method'] = item.id">{{item.value}}</label>
                  </div>
                </td>
              </tr>
              <td class="col-xs-12" colspan="4">
                <span class="break-line"
                  ng-if="vm.applyData['method'] === masterdata.PAYMENT_METHOD.PAYMENT_SLIP">{{'event.project_apply.form.payment_method.payment_slip.note'
                  | translate}}</span>
                <span class="break-line"
                  ng-if="vm.applyData['method'] === masterdata.PAYMENT_METHOD.POSTAL_TRANSFER">{{'event.project_apply.form.payment_method.postal_transfer.note'
                  | translate}}</span>
                <span class="break-line"
                  ng-if="vm.applyData['method'] === masterdata.PAYMENT_METHOD.BANK_TRANSFER">{{vm.bankTransferPaymentMethodNote}}</span>
              </td>
              <tr ng-if="vm.applyData['method'] !== masterdata.PAYMENT_METHOD.BANK_TRANSFER">
                <th class="col-xs-2">
                  {{'event.project_apply.form.zipcode.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <div class="form-group" style="display: inline-block; margin-bottom: unset;" show-errors>
                    <input type="text" name="zipcode1" number-integer-only class="form-control"
                      ng-model="vm.applyData.zipcode1" required="true" maxlength="3"
                      style="width: 100px; display: inline-block;">
                  </div>
                  <span>-</span>
                  <div class="form-group " style="display: inline-block; margin-bottom: unset;" show-errors>
                    <input type="text" name="zipcode2" number-integer-only class="form-control"
                      ng-model="vm.applyData.zipcode2" required="true" maxlength="4"
                      style="width: 100px; display: inline-block;">
                  </div>
                </td>
              </tr>
              <tr ng-if="vm.applyData['method'] !== masterdata.PAYMENT_METHOD.BANK_TRANSFER">
                <th class="col-xs-2">
                  {{'event.project_apply.form.address.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="address" class="form-control" ng-model="vm.applyData.address"
                    placeholder="{{'event.project_apply.form.address.placeholder' | translate}}" required>
                </td>
              </tr>
              <tr ng-if="vm.applyData['method'] !== masterdata.PAYMENT_METHOD.BANK_TRANSFER">
                <th class="col-xs-2">
                  {{'event.project_apply.form.name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="name" class="form-control" ng-model="vm.applyData.name"
                    placeholder="{{'event.project_apply.form.name.placeholder' | translate}}" required>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'event.project_apply.form.magazine_type.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <div class="form-check inline-block" ng-repeat="(key, item) in masterdata.magazine_types"
                    style="padding-left: 15px;">
                    <input class="form-check-input clickable" ng-value="item.id" ng-model="vm.applyData.magazine"
                      ng-checked="item.id === vm.applyData.magazine" type="radio" name="magazine"
                      id="magazine_{{item.id}}">
                    <label class="form-check-label clickable" for="magazine_{{item.id}}"
                      ng-click="vm.applyData.magazine = item.id">{{item.value}}</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4>{{'event.project_apply.form.precaution_for_application.subtitle' | translate}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="break-line">{{'event.project_apply.form.precaution_for_application.label1' |
                translate}}</span><br>
              <br>
            </div>
            <div class="col-xs-12 mg3t">
              <input type="checkbox" name="condition" class="clickable" ng-model="vm.isReadCondition">
              <span class="mg2l">{{'event.project_apply.form.precaution_for_application.label2' |
                translate}}</span>
            </div>
          </div>
        </div>

        <div class="form-group mgnb mg50b text-center">
          <button-back back="company.municipalities.projects_list" params="{municipalityId: vm.municipalityId}">
          </button-back>
          <button type="submit" class="btn btn-success btn-sm" ng-disabled="!vm.isReadCondition">
            <i class="fa fa-save"></i>
            {{'common.button.save' | translate}}
          </button>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.applyForm.event_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'event.project_apply.form.event_name.error.required'
              | translate}}</li>
          </div>
          <div ng-messages="vm.applyForm.amount_per_step.$error" role="alert">
            <li class="text-red" ng-message="required">{{'event.project_apply.form.amount_per_step.error.required'
              | translate}}</li>
            <li class="text-red" ng-message="number">{{'event.project_apply.form.amount_per_step.error.number'
              | translate}}</li>
            <li class="text-red" ng-message="float">{{'event.project_apply.form.amount_per_step.error.number'
              | translate}}</li>
            <li class="text-red" ng-message="min">{{vm.apsMinErrorMessage}}</li>
          </div>
          <div ng-messages="vm.applyForm.point_per_step.$error" role="alert">
            <li class="text-red" ng-message="required">{{'event.project_apply.form.point_per_step.error.required'
              | translate}}</li>
            <li class="text-red" ng-message="number">{{'event.project_apply.form.point_per_step.error.number'
              | translate}}</li>
            <li class="text-red" ng-message="float">{{'event.project_apply.form.point_per_step.error.number'
              | translate}}</li>
            <li class="text-red" ng-message="min">{{vm.ppsMinErrorMessage}}</li>
          </div>
          <div ng-messages="vm.applyForm.donation_amount.$error" role="alert">
            <li class="text-red" ng-message="required">{{'event.project_apply.form.donation_amount.error.required'
              | translate}}</li>
            <li class="text-red" ng-message="number">{{'event.project_apply.form.donation_amount.error.number'
              | translate}}</li>
          </div>
          <div ng-messages="vm.applyForm.min_donation_amount.$error" role="alert">
            <li class="text-red" ng-message="required">{{'event.project_apply.form.min_donation_amount.error.required'
              | translate}}</li>
            <li class="text-red" ng-message="number">{{'event.project_apply.form.min_donation_amount.error.number'
              | translate}}</li>
          </div>
          <div ng-messages="vm.applyForm.max_donation_amount.$error" role="alert">
            <li class="text-red" ng-message="number">{{'event.project_apply.form.max_donation_amount.error.number'
              | translate}}</li>
          </div>
          <div ng-if="vm.isErrorRequiredZipcode()" role="alert">
            <li class="text-red">
              {{'event.project_apply.form.zipcode.error.required' | translate}}
            </li>
          </div>
          <div ng-messages="vm.applyForm.address.$error" role="alert">
            <li class="text-red" ng-message="required">{{'event.project_apply.form.address.error.required' | translate}}
            </li>
          </div>
          <div ng-messages="vm.applyForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'event.project_apply.form.name.error.required' | translate}}
            </li>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>