<section class="content container-fluid">
  <form name="vm.subsidiaryForm" class="form-edit employee-form" ng-submit="vm.createOrUpdate(vm.subsidiaryForm.$valid)"
    novalidate autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4 ng-if="!isAdminOrSubAdmin">
              <span class="page_title_clickable" ui-sref="company.subsidiaries.list">
                {{'subsidiaries.list.page.title' | translate}}
              </span>&nbsp;>
              <form-title-only></form-title-only>
            </h4>
            <h4 ng-if="isAdminOrSubAdmin">
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="company.subsidiaries.list"></button-back>
            <button-save></button-save>
          </div>
        </div>

        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'subsidiaries.form.kind.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10" colspan="3">
                  <div class="form-check inline-block" ng-repeat="(key, item) in vm.master.kind_statuses">
                    <input class="form-check-input" ng-value="item.id" ng-model="vm.subsidiary.kind"
                      ng-checked="item.id === vm.company.kind" type="radio" name="kind" id="kind_{{item.id}}">
                    <label class="form-check-label" for="kind_{{item.id}}">{{item.value}}</label>&nbsp;&nbsp;
                  </div>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'subsidiaries.form.name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="name" class="form-control" ng-model="vm.subsidiary.name"
                    placeholder="{{'subsidiaries.form.name.placeholder' | translate}}" required ng-maxlength="60"
                    maxlength="60">
                </td>
                <td class="col-xs-4" colspan="3">
                  <button class="btn btn-success btn-sm" type="button" ng-click="vm.onGetNumberCompany()"
                    ng-disabled="!vm.subsidiary.name">法人番号を取得</button>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'subsidiaries.form.number.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input name="number" class="form-control" ng-model="vm.subsidiary.number"
                    placeholder="{{'subsidiaries.form.number.placeholder' | translate}}" required>
                  <a href="https://www.houjin-bangou.nta.go.jp/" target="_blank"
                    style="text-decoration: revert !important;">国税庁 法人番号公表サイト</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="company.subsidiaries.list"></button-back>
          <button-save></button-save>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.subsidiaryForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'subsidiaries.form.name.error.required' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'subsidiaries.form.name.error.max_length' | translate}}</li>
          </div>
          <div ng-messages="vm.subsidiaryForm.number.$error" role="alert">
            <li class="text-red" ng-message="required">{{'subsidiaries.form.number.error.required' | translate}}</li>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>