<section class="content container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mg10b">
        <div class="col-xs-6">
          <h4 ng-if="!isAdminOrSubAdmin">
            <span class="page_title_clickable" ui-sref="company.subsidiaries.list">{{'subsidiaries.list.page.title' |
              translate}}</span> >
            <form-title-only></form-title-only>
          </h4>
          <h4 ng-if="isAdminOrSubAdmin">
            <form-title-only></form-title-only>
          </h4>
        </div>
        <div class="col-xs-6 text-right">
          <button-edit back="company.subsidiaries.list" noback="company.subsidiaries.create"
            state="company.subsidiaries.edit" params="{subsidiaryId: vm.subsidiary._id}" ng-if="!isAdminOrSubAdmin">
          </button-edit>
          <button-back back="company.subsidiaries.list" noback="company.subsidiaries.create" ng-if="isAdminOrSubAdmin">
          </button-back>
        </div>
      </div>

      <div class="table-responsive notice-form">
        <table class="table table-bordered table-detail">
          <tbody>
            <!-- <tr>
              <th class="col-xs-2">{{ 'companies.detail.kind.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="showMasterValue(vm.master.kind_statuses, vm.subsidiary.kind)"></td>
            </tr> -->
            <tr>
              <th class="col-xs-2">{{ 'companies.detail.name.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="getFullCompanyName(vm.subsidiary.kind, vm.subsidiary.name)"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'companies.detail.number.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.subsidiary.number"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'companies.detail.created.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.subsidiary.created | dateTimeNormal"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mg10b">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4 text-center">
        <button-edit back="company.subsidiaries.list" noback="company.subsidiaries.create"
          state="company.subsidiaries.edit" params="{subsidiaryId: vm.subsidiary._id}" ng-if="!isAdminOrSubAdmin">
        </button-edit>
        <button-back back="company.subsidiaries.list" noback="company.subsidiaries.create" ng-if="isAdminOrSubAdmin">
        </button-back>
      </div>
    </div>
  </div>
</section>