<div id="ecommerce-footer" class="d-flex pd16">
  <!-- Left side -->
  <div>
    <strong class="text-underline clickable" ui-sref="guest-settings.config">▶利用規約</strong>
    <strong class="text-underline mg16l clickable" ui-sref="guest-settings.policy">▶プライバシーポリシー</strong>
  </div>
  <!-- Right side -->
  <div class="pull-right hidden-xs">
    &copy; 2021 fufuru.jp. All Rights Reserved.
  </div>
</div>
<style scoped>
  #ecommerce-footer {
    min-height: 50px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #2e4d6a;
  }
</style>