<section class="content container-fluid">
  <form name="vm.employeeForm" class="form-edit employee-form" ng-submit="vm.createOrUpdate(vm.employeeForm.$valid)"
    novalidate autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4 ng-if="!isAdminOrSubAdmin">
              <span class="page_title_clickable" ui-sref="company.employees.list">
                {{'employees.list.page.title' | translate}}
              </span>&nbsp;>
              <form-title-only></form-title-only>
            </h4>
            <h4 ng-if="isAdminOrSubAdmin">
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="company.employees.list"></button-back>
            <button-save></button-save>
          </div>
        </div>

        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'employees.form.last_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="last_name" class="form-control" ng-model="vm.employee.last_name"
                    placeholder="{{'employees.form.last_name.placeholder' | translate}}" required ng-maxlength="16"
                    maxlength="16">
                </td>

                <th class="col-xs-2">
                  {{'employees.form.first_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="first_name" class="form-control" ng-model="vm.employee.first_name"
                    placeholder="{{'employees.form.first_name.placeholder' | translate}}" required ng-maxlength="16"
                    maxlength="16">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'employees.form.number.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="number" class="form-control" ng-model="vm.employee.number"
                    placeholder="{{'employees.form.number.placeholder' | translate}}" required>
                </td>

                <th class="col-xs-2">
                  {{'employees.form.department.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <select name="e_department" class="form-control" ng-model="vm.employee.e_department"
                    ng-options="item._id as item.name for item in vm.departments">
                    <option value='' selected>{{"employees.form._department.default.label" | translate}}</option>
                  </select>
                  <!-- <input type="hidden" name="e_department" class="form-control" ng-model="vm.employee.e_department"> -->
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{ 'employees.form.subsidiary.label' | translate }}
                  <span class="text-red">*</span>
                </th>

                <!-- <td class="col-xs-10 form-group" show-errors colspan="3" ng-if="vm.employee._id">
                  <select name="subsidiary" class="form-control" ng-model="vm.employee.subsidiary"
                    ng-options="subsidiary._id as subsidiary.name for subsidiary in vm.subsidiaries">
                  </select>
                </td> -->

                <td class="col-xs-4 form-group" show-errors>
                  <select name="subsidiary" class="form-control" ng-model="vm.employee.subsidiary"
                    ng-change="vm.onChange()"
                    ng-options="subsidiary._id as subsidiary.name for subsidiary in vm.subsidiaries">
                  </select>
                </td>

                <th class="col-xs-2">
                  {{'employees.form.email.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="email" name="email" class="form-control" ng-model="vm.employee.email"
                    placeholder="{{'employees.form.email.placeholder' | translate}}" required input-validator="email">
                </td>
              </tr>

              <tr ng-if="!vm.employee.isOnlyOneCompanyAccount">
                <th class="col-xs-2">
                  {{ 'employees.form.role.label' | translate }}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <select name="role" class="form-control" ng-model="vm.employee.role">
                    <option ng-repeat="item in vm.roles" value="{{item.id}}"> {{item.value}}</option>
                  </select>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{ 'employees.form.note.label' | translate }}
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <textarea name="note" class="form-control" rows="5" ng-model="vm.employee.note"
                    placeholder="{{'employees.form.note.placeholder' | translate}}" maxlength="20000">
                  </textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="company.employees.list"></button-back>
          <button-save></button-save>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.employeeForm.last_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'employees.form.last_name.error.required' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'employees.form.last_name.error.max_length' | translate}}</li>
          </div>

          <div ng-messages="vm.employeeForm.first_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'employees.form.first_name.error.required' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'employees.form.first_name.error.max_length' | translate}}
            </li>
          </div>

          <div ng-messages="vm.employeeForm.e_department.$error" role="alert">
            <li class="text-red" ng-message="required">{{'employees.form.e_department.error.required' | translate}}
            </li>
          </div>

          <div ng-messages="vm.employeeForm.subsidiary.$error" role="alert">
            <li class="text-red" ng-message="sub_required">{{'employees.form.subsidiary.error.required' | translate}}
            </li>
          </div>

          <div ng-messages="vm.employeeForm.number.$error" role="alert">
            <li class="text-red" ng-message="required">{{'employees.form.number.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.employeeForm.email.$error" role="alert">
            <li class="text-red" ng-message="required">{{'employees.form.email.error.required' | translate}}</li>
            <li class="text-red" ng-message="email">{{'employees.form.email.error.invalid' | translate}}</li>
          </div>
          <div ng-messages="vm.employeeForm.password.$error" role="alert">
            <li class="text-red" ng-message="required">{{'employees.form.password.error.required' | translate}}</li>
            <li class="text-red" ng-message="minlength">{{'employees.form.password.error.min_length' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'employees.form.password.error.max_length' | translate}}</li>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>