<section class="content container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <div class="row mg10b">
        <div class="col-xs-6">
          <form-title></form-title>
        </div>
        <div class="col-xs-6 text-right">
          <button-back ui-sref="company.employees.list">
          </button-back>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mg40b">
          <div class="drag-drop-zone drag-drop-zone_image" nv-file-drop uploader="vm.uploaderExcel">
            <label class="text-center">{{'employees.import.excel.label.drag_and_drop' | translate}}</label>
            <label class="text-center or_text">{{'employees.import.excel.label.or' | translate}}</label>
            <label class="btn-primary text-center choose_file_label">
              <span class="choose_file_label_span">{{'employees.import.excel.label.choose_a_file' |
                translate}}</span>
              <input id="file-selection" type="file" nv-file-select uploader="vm.uploaderExcel" accept=".xlsx"
                style="visibility: hidden;">
            </label>

            <span class="text-center file_name_text" ng-bind="vm.selectedFileName">
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <button type="button" class="btn btn-success btn-md" ng-click="vm.startUpload()"
            ng-disabled="vm.isDisableUploadButton()">
            <i class="fa fa-upload"></i>
            {{ 'common.button.import' | translate }}
          </button>
        </div>
      </div>

      <div class="row mg10t">
        <div class="col-sm-12">
          <div class="form-group mg5t" ng-show="vm.errors.length > 0">
            <b class="text-red">{{'common.label.error' | translate}}：</b>
            <li class="text-red" ng-repeat="error in vm.errors track by ($index+error)">{{ error }}</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>