<!-- <section class="content"> -->
<table-search>
  <h4 style="display: inline-block;">参加者登録URL</h4>
  <button style="display: inline-block;" class="btn btn-default btn-sm pull-right" type="button"
    ng-click="closeThisDialog()">キャンセル</button>
</table-search>

<div class="row">

  <div class="col-xs-12" ng-if="vm.isShowQrcode">
    <div class="form-inline">
      <div class="form-group" style="width: 80%;">
        <div class="input-group" style="width: 100%;">
          <input type="text" class="form-control" ng-model="vm.info.url" readonly>
        </div>
      </div>
      <button value="vm.info.url" class="btn btn-secondary btn-sm px-3 ml-2" ng-click="vm.copyToClipboard(vm.info.url)">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
        {{'common.label.copy' | translate}}
      </button>
    </div>

    <div class="form-group text-center">
      <img src="{{vm.info.qr}}">
      <button class="btn btn-primary btn-sm" type="button" ng-click=" vm.downloadQrcode()"><i
          class="fa fa-download"></i> Download</button>
    </div>
  </div>

  <div class="col-xs-12" ng-if="vm.isShowSelectSub">
    <div class="form-group">
      <label>所属会社</label>
      <select name="e_subsidiary" class="form-control" ng-model="vm.e_subsidiary"
        ng-options="item._id as item.name for item in vm.e_subsidiaries">
      </select>
    </div>
    <div class="text-center">
      <button class="btn btn-success btn-sm" ng-click="vm.selectSubCompany()">確認</button>
    </div>
  </div>
</div>
<!-- </section> -->