<section class="content container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mg10b">
        <div class="col-xs-6">
          <h4>
            <span ng-if="!vm.requestItemId && !isAdminOrSubAdmin">
              <span class="page_title_clickable" ui-sref="municipality.usings.list">
                {{'using.list.page.title' | translate}}
              </span>
              <span ng-if="!vm.requestItemId && !isAdminOrSubAdmin">&nbsp;></span>
            </span>
            <form-title-only></form-title-only>
          </h4>
        </div>
        <div class="col-xs-6 text-right">
          <button-edit back="municipality.usings.list" noback="municipality.usings.create"
            state="municipality.usings.edit"
            params="{usingId: vm.using._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
            ng-if="!vm.requestItemId && vm.key !== masterdata.FEATURE_MUNICIPALITY.DELETE_USING">
          </button-edit>

          <button-back back="municipality.usings.list"
            noback="municipality.usings.list"
            params="{usingId: vm.using._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
            ng-if="!vm.requestItemId && vm.key === masterdata.FEATURE_MUNICIPALITY.DELETE_USING">
          </button-back>
          
          <button-back back="municipality.requests_application.list" noback="municipality.requests_application.list"
            ng-if="vm.requestItemId"></button-back>
        </div>
      </div>
      <div class="table-responsive using-form">
        <table class="table table-bordered table-detail">
          <tbody>
            <tr>
              <th class="col-xs-2">
                {{'using.detail.name.label' | translate}}
              </th>
              <td class="col-xs-10" colspan="3" ng-bind="vm.using.name"></td>
            </tr>
            <tr>
              <th class="col-xs-2">
                {{'using.detail.description.label' | translate}}
              </th>
              <td class="col-xs-10 word-break break-line" colspan="3" ng-bind-html="vm.using.description | myParseUrl">
              </td>
            </tr>
            <tr>
              <th class="col-xs-2">
                {{'using.detail.start.label' | translate}}
              </th>
              <td class="col-xs-4 form-group" ng-bind="vm.using.start | dateTimeNormal">
              </td>
              <th class="col-xs-2">
                {{'using.detail.end.label' | translate}}
              </th>
              <td class="col-xs-4 form-group" ng-bind="vm.using.end | dateTimeNormal">
              </td>
            </tr>
            <tr>
              <th class="col-xs-2">
                {{'using.detail.created.label' | translate}}
              </th>
              <td class="col-xs-10" colspan="3" ng-bind="vm.using.created | dateTimeNormal"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mg10b">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 text-center">
          <button-edit back="municipality.usings.list" noback="municipality.usings.create"
            state="municipality.usings.edit"
            params="{usingId: vm.using._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
            ng-if="!vm.requestItemId && vm.key !== masterdata.FEATURE_MUNICIPALITY.DELETE_USING">
          </button-edit>

          <button-back back="municipality.usings.list"
            noback="municipality.usings.list"
            params="{usingId: vm.using._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
            ng-if="!vm.requestItemId && vm.key === masterdata.FEATURE_MUNICIPALITY.DELETE_USING">
          </button-back>

          <button-back back="municipality.requests_application.list" noback="municipality.requests_application.list"
            ng-if="vm.requestItemId"></button-back>
        </div>
      </div>
    </div>
  </div>
</section>