<section class="content container-fluid">
  <form name="vm.usingForm" class="form-edit using-form" ng-submit="vm.update(vm.usingForm.$valid)" novalidate
    autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>
              <span class="page_title_clickable" ng-if="!isAdminOrSubAdmin" data-ui-sref="municipality.usings.list({municipalityId: vm.municipalityId})">
                {{'using.list.page.title' | translate}} 
              </span>
              <span ng-if="!isAdminOrSubAdmin">&nbsp;></span>
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="municipality.usings.list"></button-back>
            <button type="submit" class="btn btn-success btn-sm ng-binding">
              <i class="fa fa-save"></i>
              <span ng-if="vm.isNeedAuthorize === 'true'">申請登録</span>
              <span ng-if="vm.isNeedAuthorize !== 'true'">保存</span>
            </button>
          </div>
        </div>
        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'using.form.name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" colspan="3" show-errors>
                  <input type="text" name="name" class="form-control" ng-model="vm.using.name"
                    placeholder="{{'using.form.name.placeholder' | translate}}" required maxlength="100">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'using.form.description.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" colspan="3" show-errors>
                  <textarea name="description" class="form-control" rows="10" ng-model="vm.using.description"
                    placeholder="{{'using.form.description.placeholder' | translate}}" maxlength="1000">
                  </textarea>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'using.form.start.label' | translate}}
                </th>
                <td class="col-xs-4 form-group datetime-picker" show-errors>
                  <input type="text" name="start" datetime-picker="" datepicker-options="vm.dateOptionsStartTime"
                    timepicker-options="timeOptions" ng-click="openCalendar($event, 'start')"
                    placeholder="YYYY/MM/DD HH:mm" is-open="open.start" class="form-control" ng-model="vm.using.start"
                    ng-change="vm.onChangeStartTime()" readonly />
                </td>
                <th class="col-xs-2">
                  {{'using.form.end.label' | translate}}
                </th>
                <td class="col-xs-4 form-group datetime-picker" show-errors>
                  <input type="text" name="end" datetime-picker="" datepicker-options="vm.dateOptionsEndTime"
                    timepicker-options="timeOptions" ng-click="openCalendar($event, 'end')"
                    placeholder="YYYY/MM/DD HH:mm" is-open="open.end" class="form-control" ng-model="vm.using.end"
                    ng-change="vm.onChangeEndTime()" readonly n />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="municipality.usings.list"></button-back>
          <button type="submit" class="btn btn-success btn-sm ng-binding">
            <i class="fa fa-save"></i>
            <span ng-if="vm.isNeedAuthorize === 'true'">申請登録</span>
            <span ng-if="vm.isNeedAuthorize !== 'true'">保存</span>
          </button>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.usingForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'using.form.name.error.required' | translate}}</li>
          </div>
          <div ng-messages="vm.usingForm.start.$error" role="alert">
            <li class="text-red" ng-message="required">{{'using.form.start.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="datetime">{{'using.form.start.error.datetime' | translate}}
            </li>
          </div>
          <div ng-messages="vm.usingForm.end.$error" role="alert">
            <li class="text-red" ng-message="required">{{'using.form.end.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="datetime">{{'using.form.end.error.datetime' | translate}}
            </li>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>