<section class="content container-fluid">
  <div class="row mg10b">
    <div class="col-xs-6">
      <form-title></form-title>
    </div>
  </div>
  <table-search>
    <table-search-button>
      <a class="btn btn-success btn-sm pull-right mg5r" ng-if="vm.isCreate" ng-click="vm.add()">
        <span class="glyphicon glyphicon-plus"></span> {{'common.button.add' | translate}}
      </a>
    </table-search-button>
    <table-search-content>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div class="form-group">
          <label>{{'project.list.search.keyword.label' | translate}}</label>
          <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword"
            placeholder="{{'project.list.search.keyword.placeholder' | translate}}"
            event-enter="vm.handleConditionChanged(true)" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'project.list.search.start_min.label' | translate}}</label>
          <input type="text" name="start_min" datetime-picker="" datepicker-options="vm.dateOptionsStartMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'start_min')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.start_min" class="form-control" ng-model="vm.condition.start_min"
            ng-change="vm.onChangeStartMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'project.list.search.start_max.label' | translate}}</label>
          <input type="text" name="start_max" datetime-picker="" datepicker-options="vm.dateOptionsStartMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'start_max')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.start_max" class="form-control" ng-model="vm.condition.start_max" ng-change="vm.handleConditionChanged(false, 'start_max', {{
              vm.condition.start_max || 'null'
            }}); vm.onChangeStartMax()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'project.list.search.end_min.label' | translate}}</label>
          <input type="text" name="end_min" datetime-picker="" datepicker-options="vm.dateOptionsEndMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'end_min')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.end_min" class="form-control" ng-model="vm.condition.end_min"
            ng-change="vm.onChangeEndMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'project.list.search.end_max.label' | translate}}</label>
          <input type="text" name="end_max" datetime-picker="" datepicker-options="vm.dateOptionsEndMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'end_max')" placeholder="YYYY/MM/DD HH:mm"
            is-open="open.end_max" class="form-control" ng-model="vm.condition.end_max" ng-change="vm.handleConditionChanged(false, 'end_max', {{
              vm.condition.end_max || 'null'
            }}); vm.onChangeEndMax()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'common.label.max_row_in_page' | translate}}</label>
          <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit"
            placeholder="{{'common.placeholder.max_row_in_page' | translate}}" search-limit maxlength="4" />
        </div>
      </div>
    </table-search-content>
  </table-search>

  <div class="row">
    <!-- 各ボタン -->
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title">
          {{ tableReport(vm.condition) }}
        </p>
      </div>
    </div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-index">#</th>
              <!-- <th class="text-center w150" tbtitle="{{'project.list.table.header.code.label' | translate}}"
                tbmodel="code" ng-click="vm.handleSortChanged('code')" table-order tbcondition="vm.condition"></th> -->
              <th class="w200" tbtitle="{{'project.list.table.header.name.label' | translate}}" tbmodel="name"
                ng-click="vm.handleSortChanged('name')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-center w150" tbtitle="{{'project.list.table.header.start.label' | translate}}"
                tbmodel="start" ng-click="vm.handleSortChanged('start')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-center w150" tbtitle="{{'project.list.table.header.end.label' | translate}}" tbmodel="end"
                ng-click="vm.handleSortChanged('end')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-right w100" tbtitle="{{'project.list.table.header.target_amount.label' | translate}}"
                tbmodel="target_amount" ng-click="vm.handleSortChanged('target_amount')" table-order
                tbcondition="vm.condition"></th>
              <th class="text-center w100">{{'common.table.header.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" ng-show="!vm.docs || vm.docs.length === 0">
                {{'common.table.no_data_available' | translate}}
              </td>
            </tr>
            <tr ng-repeat="item in vm.docs track by $index" class="clickable"
              ui-sref="municipality.projects.detail({ projectId: item._id, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize })">
              <td class="text-center">
                {{ tableIndex(vm.condition, $index) }}
              </td>
              <!-- <td class="text-center" ng-bind="item.code"></td> -->
              <td ng-bind="item.name"></td>
              <td class="text-center" ng-bind="item.start | dateTimeNormal"></td>
              <td class="text-center" ng-bind="item.end | dateTimeNormal"></td>
              <td class="text-right" ng-bind="item.target_amount | format_money"></td>
              <td class="text-center" ui-sref-ignore>
                <button class="btn btn-xs btn-primary" ng-if="vm.isEdit"
                  ui-sref="municipality.projects.edit({projectId: item._id, municipalityId: vm.municipalityId, isNeedAuthorize: vm.isNeedAuthorize})">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  {{'common.button.edit' | translate}}
                </button>
                <a class="btn btn-xs btn-danger" ng-click="vm.remove(item._id)"
                  ng-if="!item.numberOfComprojects && vm.isDelete">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  {{'common.button.del' | translate}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-include="'/modules/core/client/views/pagination.client.view.html'"></div>
    </div>
  </div>
</section>