</html>
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>
    <%= subject %>
  </title>
</head>

<body style="margin: 0; padding:0; background-color:#F9F9F9;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;" id="bodyTable">
    <tbody>
      <tr>
        <td align="center" valign="top" style="padding-right:10px;padding-left:10px;" id="bodyCell">
          <!-- Email Wrapper Header Open //-->
          <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%"
            class="wrapperWebview">
            <tbody>
              <tr>
                <td align="center" valign="top">
                  <!-- Content Table Open // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" valign="middle" style="padding-top: 20px; padding-bottom: 20px;"
                          class="emailLogo">
                          <!-- Logo and Link // -->
                          <!-- <img src="<%= domain %>modules/core/client/img/brand/logo.png" alt="" max-width="150" border="0" -->
                          <!-- style="width:100%; max-width:150px;height:auto; display:block;"> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Content Table Close // -->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Email Wrapper Header Close //-->

          <!-- Email Wrapper Body Open // -->
          <table border="0" cellpadding="0" cellspacing="0" style="max-width:800px; font-size: 14px !important;"
            width="100%" class="wrapperBody">
            <tbody>
              <tr>
                <td valign="top">

                  <!-- Table Card Open // -->
                  <table border="0" cellpadding="0" cellspacing="0"
                    style="background-color:#FFFFFF;border-color:#E5E5E5; border-style:solid; border-width:0 1px 1px 1px;"
                    width="100%" class="tableCard">
                    <tbody>
                      <tr>
                        <!-- Header Top Border // -->
                        <td height="3" style="background-color:#73C55B;font-size:1px;line-height:3px;"
                          class="topBorder">
                          &nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center" valign="top" style="padding-left:20px;padding-right:20px;"
                          class="containtTable ui-sortable">

                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableDescription">
                            <tbody>
                              <tr>
                                <td valign="top" style="padding-bottom:20px;" class="description">
                                  <!-- Description Text// -->
                                  <p class="text"
                                    style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">

                                  <p>※このメールは、自動で送信されています。</p>
                                  <p>自治体アカウントの発行が完了しました。</p>
                                  <p>ID : <%= emailOfMunic %>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      <tr>
                        <td height="20" style="font-size:1px;line-height:1px;">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Table Card Close// -->

                  <!-- Space -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="space">
                    <tbody>
                      <tr>
                        <td height="30" style="font-size:1px;line-height:1px;">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Email Wrapper Body Close // -->
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>