<section class="content container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mg10b">
        <div class="col-xs-6">
          <h4>
            <span ng-if="!vm.requestItemId && !isAdminOrSubAdmin">
              <span class="page_title_clickable" ui-sref="municipality.munic_members.list">
                {{'munic_members.list.page.title' | translate}}</span>&nbsp;>
            </span>
            <form-title-only></form-title-only>
          </h4>
        </div>
        <div class="col-xs-6 text-right" ng-if="!vm.requestItemId">
          <button-edit back="municipality.munic_members.list" noback="municipality.munic_members.create"
            state="municipality.munic_members.edit"
            params="{memberId: vm.member._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
            ng-if="vm.key !== masterdata.FEATURE_MUNICIPALITY.DELETE_MUNIC_MEMBER">
          </button-edit>

          <button-back back="municipality.munic_members.list"
            noback="municipality.munic_members.list"
            params="{memberId: vm.member._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
            ng-if="vm.key === masterdata.FEATURE_MUNICIPALITY.DELETE_MUNIC_MEMBER">
          </button-back>
        </div>

        <div class="col-xs-6 text-right" ng-if="vm.requestItemId">
          <button-back back="municipality.requests_application.list" noback="municipality.requests_application.list"></button-back>
        </div>
      </div>

      <div class="table-responsive notice-form">
        <table class="table table-bordered table-detail">
          <tbody>
            <tr>
              <th class="col-xs-2">{{ 'munic_members.detail.number.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.member.number"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'munic_members.detail.last_name.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.member.last_name"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'munic_members.detail.first_name.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.member.first_name"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'munic_members.detail.email.label' | translate }}</th>
              <td class="col-xs-10">
                <a href="mailto:{{vm.member.email}}">{{vm.member.email}}</a>
              </td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'munic_members.detail.department.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.member.department"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'munic_members.detail.role.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="showMasterValue(masterdata.munic_roles, vm.member.roles[0])"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'munic_members.detail.note.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.member.note"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row mg10b">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4 text-center" ng-if="!vm.requestItemId">
        <button-edit back="municipality.munic_members.list" noback="municipality.munic_members.create"
          state="municipality.munic_members.edit"
          params="{memberId: vm.member._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
          ng-if="vm.key !== masterdata.FEATURE_MUNICIPALITY.DELETE_MUNIC_MEMBER">
        </button-edit>

        <button-back back="municipality.munic_members.list"
          noback="municipality.munic_members.list"
          params="{memberId: vm.member._id, municipalityId: vm.municipalityId, key: vm.key, isNeedAuthorize: vm.isNeedAuthorize}"
          ng-if="vm.key === masterdata.FEATURE_MUNICIPALITY.DELETE_MUNIC_MEMBER">
        </button-back>
      </div>
        
      <div class="col-xs-4 text-center" ng-if="vm.requestItemId">
        <button-back back="municipality.requests_application.list" noback="municipality.requests_application.list"></button-back>
      </div>
    </div>

  </div>
</section>