<section class="content container-fluid">
  <form name="vm.municMemberForm" class="form-edit employee-form"
    ng-submit="vm.createOrUpdate(vm.municMemberForm.$valid)" novalidate autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>
              <span ng-if="!isAdminOrSubAdmin">
                <span class="page_title_clickable"
                  data-ui-sref="municipality.munic_members.list({municipalityId: vm.municipalityId})">
                  {{'munic_members.list.page.title' | translate}}
                </span>&nbsp;>
              </span>
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="municipality.munic_members.list"></button-back>
            <button type="submit" class="btn btn-success btn-sm ng-binding">
              <i class="fa fa-save"></i>
              <span ng-if="vm.isNeedAuthorize === 'true'">申請登録</span>
              <span ng-if="vm.isNeedAuthorize !== 'true'">保存</span>
            </button>
          </div>
        </div>

        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'munic_members.form.last_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="last_name" class="form-control" ng-model="vm.municMember.last_name"
                    placeholder="{{'munic_members.form.last_name.placeholder' | translate}}" required ng-maxlength="16"
                    maxlength="16">

                </td>

                <th class="col-xs-2">
                  {{'munic_members.form.first_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="first_name" class="form-control" ng-model="vm.municMember.first_name"
                    placeholder="{{'munic_members.form.first_name.placeholder' | translate}}" required maxlength="16"
                    maxlength="16">
                  <!-- <input type="text" name="last_name" class="form-control" ng-model="vm.municMember.last_name"
                    placeholder="{{'munic_members.form.last_name.placeholder' | translate}}" required ng-maxlength="16"
                    maxlength="16"> -->
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'munic_members.form.number.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="number" class="form-control" ng-model="vm.municMember.number"
                    placeholder="{{'munic_members.form.number.placeholder' | translate}}" required>
                </td>

                <th class="col-xs-2">
                  {{'munic_members.form.department.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="department" class="form-control" ng-model="vm.municMember.department"
                    placeholder="{{'munic_members.form.department.placeholder' | translate}}">
                </td>
              </tr>

              <tr ng-if="!vm.municMember._id">
                <th class="col-xs-2">
                  {{'munic_members.form.email.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="email" name="email" class="form-control" ng-model="vm.municMember.email"
                    placeholder="{{'munic_members.form.email.placeholder' | translate}}" required
                    input-validator="email">
                </td>
              </tr>

              <tr ng-if="Authentication.user._id !== vm.municMember._id && !vm.municMember.isOnlyOneMunicAdmin">
                <th class="col-xs-2">
                  {{ 'munic_members.form.role.label' | translate }}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <select name="role" class="form-control" ng-model="vm.municMember.role"
                    ng-disabled="Authentication.user._id === vm.municMember._id">
                    <option ng-repeat="item in vm.roles" value="{{item.id}}"> {{item.value}}</option>
                  </select>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{ 'munic_members.form.note.label' | translate }}
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <textarea name="note" class="form-control" rows="5" ng-model="vm.municMember.note"
                    placeholder="{{'munic_members.form.note.placeholder' | translate}}">
                  </textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="municipality.munic_members.list"></button-back>
          <button type="submit" class="btn btn-success btn-sm ng-binding">
            <i class="fa fa-save"></i>
            <span ng-if="vm.isNeedAuthorize === 'true'">申請登録</span>
            <span ng-if="vm.isNeedAuthorize !== 'true'">保存</span>
          </button>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.municMemberForm.first_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'munic_members.form.first_name.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'munic_members.form.first_name.error.max_length' | translate}}
            </li>
          </div>
          <div ng-messages="vm.municMemberForm.last_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'munic_members.form.last_name.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'munic_members.form.last_name.error.max_length' | translate}}
            </li>
          </div>
          <div ng-messages="vm.municMemberForm.department.$error" role="alert">
            <li class="text-red" ng-message="required">{{'munic_members.form.department.error.required' | translate}}
            </li>
          </div>
          <div ng-messages="vm.municMemberForm.email.$error" role="alert">
            <li class="text-red" ng-message="required">{{'munic_members.form.email.error.required' | translate}}</li>
            <li class="text-red" ng-message="email">{{'munic_members.form.email.error.invalid' | translate}}</li>
          </div>
          <div ng-messages="vm.municMemberForm.number.$error" role="alert">
            <li class="text-red" ng-message="required">{{'munic_members.form.number.error.required' | translate}}</li>
          </div>

        </div>
      </div>
    </div>
  </form>
</section>