<section class="content container-fluid">
  <div class="row mg10b">
    <div class="col-xs-6">
      <form-title></form-title>
    </div>
  </div>
  <table-search>
    <table-search-button>
      <button class="btn btn-primary btn-sm pull-right mg5r" type="button" ng-click="vm.onDownloadCsvAll()">
        <i class="fa fa-download"></i> 表示されているデータをCSVで一括出力
      </button>
    </table-search-button>
    <table-search-content>
      <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div class="form-group">
          <label>{{'orders.list.search.keyword.label' | translate}}</label>
          <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword"
            placeholder="{{'orders.list.search.keyword.placeholder' | translate}}"
            event-enter="vm.handleConditionChanged(true)" />
        </div>
      </div> -->

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'orders.list.search.created_min.label' | translate}}</label>
          <input type="text" name="created_min" datetime-picker="" datepicker-options="vm.dateOptionsCreatedMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'created_min')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.created_min" class="form-control"
            ng-model="vm.condition.created_min" ng-change="vm.onChangeCreatedMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'orders.list.search.created_max.label' | translate}}</label>
          <input type="text" name="created_max" datetime-picker="" datepicker-options="vm.dateOptionsCreatedMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'created_max')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.created_max" class="form-control"
            ng-model="vm.condition.created_max" ng-change="vm.handleConditionChanged(false, 'created_max', {{
              vm.condition.created_max || 'null'
            }}); vm.onChangeCreatedMax()" />
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'orders.list.search.export_status.label' | translate}}</label>
          <div>
            <label class="radio-inline" ng-repeat="item in vm.master.export_status">
              <input type="radio" name="export_status" ng-model="vm.condition.export_status"
                ng-checked="vm.condition.export_status === item.id" value="{{item.id}}"
                id="export_status{{item.id}}">{{item.value}}
            </label>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-if="false">
        <div class="form-group">
          <label>利用システム</label>
          <select name="type" class="form-control" ng-model="vm.condition.is_usage_system">
            <option value="all">すべて </option>
            <option ng-repeat="item in vm.master.usage_system" value="{{item.id}}"> {{item.value}}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'common.label.max_row_in_page' | translate}}</label>
          <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit"
            placeholder="{{'common.placeholder.max_row_in_page' | translate}}" search-limit maxlength="4" />
        </div>
      </div>
    </table-search-content>
  </table-search>


  <div class="row">
    <!-- 各ボタン -->
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title">
          {{ tableReport(vm.condition) }}
        </p>
      </div>
    </div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <!-- <th class="col-index">#</th> -->
              <th class="text-center w150" ng-click="vm.handleSortChanged('number')" tbmodel="number"
                tbtitle="{{'orders.list.table.header.number.label' | translate}}" table-order
                tbcondition="vm.condition"></th>
              <th class="">{{'orders.list.table.header.shingoren.label' | translate}}</th>
              <th class="text-center w100">{{'orders.list.table.header.total_amount.label' |
                translate}}</th>
              <th class="text-center w150">{{'orders.list.table.header.payment_method.label' |
                translate}}</th>
              <th class="">{{'orders.list.table.header.product.label' | translate}}</th>
              <th class="text-center w100">{{'orders.list.table.header.export_status.label' |
                translate}}</th>
              <!-- <th ng-click="vm.handleSortChanged('created')" tbmodel="created" table-order tbcondition="vm.condition"
                class="text-center w200" tbtitle="{{'orders.list.table.header.created.label' | translate}}"></th> -->

              <th class="w100 text-center">{{'common.table.header.action' | translate}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="20" ng-show="!vm.orders || vm.orders.length === 0">
                {{'common.table.no_data_available' | translate}}
              </td>
            </tr>
            <tr ng-repeat="order in vm.orders track by $index" class="clickable"
              ui-sref="municipality.orders.detail({ memberId: member._id })">
              <td class="text-center w150" style="vertical-align: middle;" ng-bind="order.number"></td>

              <td class="text-left">
                <span>{{order.name + '/' + order.furigana}}<br></span>
                <span ng-if="order.zip_code">{{order.zip_code | format_zipcode}}<br></span>
                <span>{{order.prefecture + order.city + order.address + order.building}}<br></span>
                <span ng-if="order.tel"> <i class="fa fa-phone text-red"></i> {{order.tel}}<br></span>
              </td>
              <td class="text-center w100" style="vertical-align: middle;" ng-bind="order.total | format_money2"></td>
              <td class="text-center w150" style="vertical-align: middle;"
                ng-bind="showMasterValue(masterdata.order_payments, order.payment)"></td>
              <td class="text-left">
                <span ng-repeat="item in order.products">{{item.product.name}} × {{item.quantity}} <br> </span>
              </td>
              <td class="text-center w100" style="vertical-align: middle;"
                ng-bind="showMasterValue(masterdata.export_status, order.export_status)"></td>

              <!-- <td class="text-center w200" style="vertical-align: middle;" ng-bind="order.created | dateTimeNormal">
              </td> -->
              <td class="text-center w100" style="vertical-align: middle;" ui-sref-ignore>
                <button class="btn btn-xs btn-success" type="button" ng-click="vm.onDownloadCsv(order._id)">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <div ng-include="'/modules/core/client/views/pagination.client.view.html'"></div>
    </div>
  </div>
</section>