<section class="content container-fluid">
  <form name="vm.municMemberForm" class="form-edit employee-form"
    ng-submit="vm.createOrUpdate(vm.municMemberForm.$valid)" novalidate autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>
              <span class="page_title_clickable" ng-if="!isAdminOrSubAdmin" ui-sref="municipality.products.list">
                {{'products.list.page.label' | translate}}
              </span>
              <span ng-if="!isAdminOrSubAdmin">&nbsp;></span>
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="municipality.products.list"></button-back>
            <button type="submit" class="btn btn-success btn-sm ng-binding">
              <i class="fa fa-save"></i>
              <span>保存</span>
            </button>
          </div>
        </div>

        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>

              <!-- 受付終了にする -->
              <tr ng-if="vm.product._id">
                <th class="col-xs-2">
                  {{'products.form.sell_status.label' | translate}}
                </th>
                <td class="col-xs-4 form-group">
                  <input class="form-check-input" name="sell_status" ng-click="vm.onChangeSellStatus()"
                    ng-checked="vm.product.sell_status === 2" type="checkbox" ng-model="vm.product.sell_status">
                </td>
                <td class="col-xs-6">
                  <small>{{'products.form.sell_status_note.label' | translate}}</small>
                </td>
              </tr>

              <!-- 画面に表示しない -->
              <tr ng-if="vm.product._id">
                <th class="col-xs-2">
                  {{'products.form.show_status.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-4 form-group">
                  <input class="form-check-input" name="show_status" ng-click="vm.onChangeShowStatus()"
                    ng-checked="vm.product.show_status === 2" type="checkbox" ng-model="vm.product.show_status">
                </td>
                <td class="col-xs-6">
                  <small>{{'products.form.show_status_node.label' | translate}}</small>
                </td>
              </tr>

              <!-- 返礼品情報 -->
              <tr>
                <th class="col-xs-2" style="border-right: none;">
                  <h4>返礼品情報</h4>
                </th>
                <th class="col-xs-10" style="border-left: none;" colspan="{{vm.product._id ? 3 : ''}}"></th>
              </tr>

              <tr ng-if="!isMunicipality">
                <th class="col-xs-2">
                  {{'products.form.munic.label' | translate}}
                  <span class="text-red">*</span>
                </th>

                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <select class="form-control" ng-change="vm.onChangeMunic()" required
                    ng-model="vm.product.municipality">
                    <option value="" disabled selected>Select your munic</option>
                    <option ng-repeat="item in vm.municipalities" value="{{item._id}}"> {{item.name}}</option>
                  </select>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'products.form.location.label' | translate}}
                  <span class="text-red">*</span>
                </th>

                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <tags-input ng-model="vm.product.locations"
                    display-property="name"
                    required
                    placeholder="Add a location"
                    replace-spaces-with-dashes="false">
                    <auto-complete source="vm.locations"
                                   min-length="0"
                                   load-on-focus="true"
                                   load-on-empty="true"
                                   max-results-to-show="32">
                    </auto-complete>
                  </tags-input>
                </td>
              </tr>

              <!-- 返礼品コード -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.code.label' | translate}}
                  <span class="text-red">*</span>
                </th>

                <td class="col-xs-4 form-group" show-errors colspan="{{vm.product._id ? 3 : ''}}">
                  <input type="text" name="code" class="form-control" ng-model="vm.product.code"
                    placeholder="{{'products.form.code.placeholder' | translate}}" required>
                </td>
              </tr>

              <!-- 返礼品 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" colspan="{{vm.product._id ? 3 : ''}}" show-errors>
                  <input type="text" name="name" class="form-control" ng-model="vm.product.name"
                    placeholder="{{'products.form.name.placeholder' | translate}}" required>
                </td>
              </tr>

              <!-- 価格(税込) -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.price.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="number" name="price" class="form-control" ng-model="vm.product.price"
                    placeholder="{{'products.form.price.placeholder' | translate}}" required min="0"
                    ng-pattern="/^[0-9]*$/">
                </td>
              </tr>

              <!-- 容量 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.capacity.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="{{vm.product._id ? 3 : ''}}">
                  <textarea class="form-control" placeholder="{{'products.form.capacity.placeholder' | translate}}"
                    name="capacity" id="" rows="5" ng-model="vm.product.capacity"></textarea>
                </td>
              </tr>

              <!-- 消費期限 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.expire_status.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <label class="radio-inline" ng-repeat="item in vm.master.expire_status">
                    <input type="radio" ng-click="vm.onChangeExpire(item.id)" name="expire"
                      ng-checked="vm.product.expire === item.id" value="{{item.id}}"
                      id="expire_{{item.id}}">{{item.value}}
                  </label>
                </td>
              </tr>

              <tr ng-if="vm.product.expire === vm.constants.OK">
                <th class="col-xs-2"></th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}" show-errors>
                  <input type="text" name="expire_detail" class="form-control" ng-model="vm.product.expire_detail"
                    placeholder="{{'products.form.expire_detail.placeholder' | translate}}" required>
                </td>
              </tr>

              <!-- 申込条件 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.is_apply_condition.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <input type="checkbox" id="is_apply_condition""
                    name=" is_apply_condition" ng-model="vm.product.is_apply_condition" ng-disabled="true">
                  <span for="is_apply_condition" style="cursor:pointer;">オンライン決済限定</span>
                </td>
              </tr>

              <!-- 取扱い事業者 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.operator.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}" show-errors>
                  <input type="text" name="operator" class="form-control" ng-model="vm.product.operator"
                    placeholder="{{'products.form.operator.placeholder' | translate}}" required>
                </td>
              </tr>

              <!-- 取扱い数量 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.stock_quantity.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4">
                  <div style="display: inline-block;" class="form-group" show-errors>
                    <label class="radio-inline" ng-repeat="item in vm.master.stock_quantity_status">
                      <input type="radio" ng-click="vm.onChangeStockQuantity(item.id)" name="is_set_stock_quantity"
                        ng-checked="vm.product.is_set_stock_quantity === item.id" value="{{item.id}}"
                        id="stock_quantity_{{item.id}}">{{item.value}}
                    </label>
                    <input type="hidden" name="is_set_stock_quantity" ng-model="vm.product.is_set_stock_quantity"
                      required>
                  </div>
                  <div style="display: inline-block; margin-bottom: 0;" class="form-group" show-errors>
                    <input type="number" name="stock_quantity" class="form-control" ng-model="vm.product.stock_quantity"
                      placeholder="{{'products.form.stock_quantity.placeholder' | translate}}" ng-min="0"
                      ng-pattern="/^[0-9]*$/"
                      ng-required="vm.product.is_set_stock_quantity && vm.product.is_set_stock_quantity !== vm.constants.ALWAYS_STOCK"
                      ng-readonly="!vm.product.is_set_stock_quantity || vm.product.is_set_stock_quantity === vm.constants.ALWAYS_STOCK">
                  </div>
                  <label style="display: inline-block;">個</label>
                </td>
              </tr>

              <!-- 購入上限 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.max_quantity.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <div style="display: inline-block;" class="form-group" show-errors>
                    <label class="radio-inline" ng-repeat="item in vm.master.max_quantity_status">
                      <input type="radio" ng-click="vm.onChangeMaxQuantity(item.id)" name="is_set_max_quantity"
                        ng-checked="vm.product.is_set_max_quantity === item.id" value="{{item.id}}"
                        id="is_set_max_quantity_{{item.id}}">{{item.value}}
                    </label>
                    <input type="hidden" name="is_set_max_quantity" ng-model="vm.product.is_set_max_quantity" required>
                  </div>
                  <div style="display: inline-block; margin-bottom: 0;" class="form-group" show-errors>
                    <input type="number" name="max_quantity" class="form-control" ng-model="vm.product.max_quantity"
                      placeholder="{{'products.form.max_quantity.placeholder' | translate}}" min="1"
                      ng-pattern="/^[0-9]*$/"
                      ng-required="vm.product.is_set_max_quantity && vm.product.is_set_max_quantity !== vm.constants.LIMIT_BUY_NONE"
                      ng-readonly="!vm.product.is_set_max_quantity || vm.product.is_set_max_quantity === vm.constants.LIMIT_BUY_NONE">
                  </div>
                  <label style="display: inline-block;">個</label>
                </td>
              </tr>

              <!-- 申込期日 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.deadline.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 " colspan="{{vm.product._id ? 3 : ''}}">
                  <div style="display: inline-block;" class="form-group" show-errors>
                    <label class="radio-inline" ng-repeat="item in vm.master.deadline_status">
                      <input type="radio" ng-click="vm.onChangeDeadline(item.id)" name="is_deadline"
                        ng-checked="vm.product.is_deadline === item.id" value="{{item.id}}"
                        id="is_deadline_{{item.id}}">{{item.value}}
                    </label>
                    <input type="hidden" name="is_deadline" ng-model="vm.product.is_deadline" required>
                  </div>
                  <div style="display: inline-block; margin-bottom: 0;" class="form-group" show-errors>
                    <input type="text" name="deadline" class="form-control" ng-model="vm.product.deadline"
                      placeholder="{{'products.form.deadline.placeholder' | translate}}"
                      ng-required="vm.product.is_deadline && vm.product.is_deadline !== vm.constants.YEAR_ROUND"
                      ng-readonly="!vm.product.is_deadline || vm.product.is_deadline === vm.constants.YEAR_ROUND">
                  </div>
                </td>
              </tr>

              <!-- 商品説明 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.description.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="{{vm.product._id ? 3 : ''}}">
                  <textarea class="form-control" placeholder="{{'products.form.description.placeholder' | translate}}"
                    name="description" rows="5" ng-model="vm.product.description" maxlength="1000" ng-maxlength="1000"
                    required></textarea>
                </td>
              </tr>

              <!-- 代表写真 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.avatar.label' | translate}}
                  <span class="text-red">*</span>
                </th>

                <td class="col-xs-10 form-group" colspan="{{ vm.product._id ? 3 : '' }}" show-errors>
                  <div class="w200 pdn">
                    <div class="panel panel-default panel-image">
                      <img class="img-responsive clickable" src="{{vm.imageUrl}}"
                        ng-click="handleShowImage(vm.imageUrl)">
                      <div class="panel-footer text-center">
                        <button ng-if="vm.product.avatar" class="btn btn-danger btn-sm" type="button"
                          ng-click="vm.removeConstructImage()">
                          <i class="fa fa-times" aria-hidden="true"></i></button>
                        <button class="btn btn-warning btn-sm" type="button" ng-click="vm.modalConstructImage()">
                          <i class="fa fa-edit" aria-hidden="true"></i></button>
                      </div>
                    </div>
                    <input type="text" name="avatar" class="form-control" ng-model="vm.product.avatar" required
                      style="visibility: hidden;">
                  </div>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'products.form.pictures.label' | translate}}
                </th>
                <td colspan="{{ vm.product._id ? 3 : '' }}">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mg40b">
                    <div class="drag-drop-zone drag-drop-zone_image" nv-file-drop nv-file-select
                      uploader="vm.uploaderImages">
                      <table>
                        <tbody>
                          <tr>
                            <td ng-repeat="img in vm.listPictures" class="w200">
                              <div class="image" style="padding-top: 10px; width: 100%;">
                                <div class="overlay">
                                  <button class="btn btn-danger btn-sm pull-right" style="border-radius: 50%;"
                                    type="button" ng-click="vm.removePicture(img)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                  </button>
                                </div>
                                <img src="{{img.url}}" class="img-responsive clickable"
                                  ng-click="handleShowImage(img.url)" style="width: 100%; height: 200px;" alt="" />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <div class="row" style="padding-bottom: 20px;" ng-if="vm.listPictures && vm.listPictures.length > 0">
                        <div class="col-md-2 image" style="padding-top: 10px;" ng-repeat="img in vm.listPictures">
                          <div class="overlay">
                            <button class="btn btn-danger btn-sm pull-right" style="border-radius: 50%;" type="button" ng-click="vm.removePicture(img)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </div>
                          <img src="{{img.url}}" class="img-responsive clickable" ng-click="handleShowImage(img.url)" style="width: 100%; height: 200px;" alt="" />
                        </div>
                      </div> -->
                      <label ng-if="vm.showBtnChooseFile">返礼品の写真を添付してください。(最大7枚)</label>
                      <label class="btn-primary text-center choose_file_label" ng-if="vm.showBtnChooseFile">
                        <span class="choose_file_label_span">{{'courses.stamp.import.image.label.choose_a_file' |
                          translate}}ファイルを選択する</span>
                        <input id="file-selection" type="file" nv-file-select multiple="multiple"
                          uploader="vm.uploaderImages" accept="image/*" style="visibility: hidden;">
                      </label>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2" style="border-right: none;">
                  <h4>配送情報</h4>
                </th>
                <th class="col-xs-10" style="border-left: none;" colspan="{{vm.product._id ? 3 : ''}}"></th>
              </tr>

              <!-- 配送方法 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.ship_method.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <label class="radio-inline" ng-repeat="item in vm.master.ship_methods">
                    <input type="radio" ng-click="vm.product.ship_method = item.id" name="ship_method"
                      ng-checked="vm.product.ship_method === item.id" value="{{item.id}}" id="ship_method_{{item.id}}">
                    {{item.value}}
                  </label>
                </td>
              </tr>

              <!-- 発送期日 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.ship_date.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="{{vm.product._id ? 3 : ''}}">
                  <textarea class="form-control" placeholder="{{'products.form.ship_date.placeholder' | translate}}"
                    name="ship_date" rows="5" ng-model="vm.product.ship_date" maxlength="200"
                    ng-maxlength="200"></textarea>
                </td>
              </tr>

              <!-- 配送会社 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.ship_company.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <input type="text" name="ship_company" class="form-control" ng-model="vm.product.ship_company"
                    placeholder="{{'products.form.ship_company.placeholder' | translate}}">
                </td>
              </tr>

              <!-- 配送希望時間 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.accepted_schedule.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <div style="display: inline-block;">
                    <label class="radio-inline" ng-repeat="item in vm.master.accept_schedule_status">
                      <input type="radio" ng-click="vm.product.is_accept_schedule = item.id" name="is_accept_schedule"
                        ng-checked="vm.product.is_accept_schedule === item.id" value="{{item.id}}"
                        id="is_accept_schedule_{{item.id}}">{{item.value}}
                    </label>
                  </div>

                  <div style="display: inline-block; width: 30%; margin-bottom: 0;" class="form-group {{
                      vm.isSaveClick &&
                      vm.product.is_accept_schedule !== vm.constants.IS_ACCEPT_SCHEDULE 
                      && (vm.product.accepted_schedule.length === 0 || vm.product.accepted_schedule === underfined || vm.product.accepted_schedule === '' ) ? 'has-error' : ''
                    }}" show-errors>
                    <multiselect class="input-xlarge" ng-model="vm.product.accepted_schedule" name="accept_schedule"
                      ng-change="vm.onChangeAcceptedSchedule()"
                      placeholder="{{'products.form.accepted_schedule.placeholder' | translate}}"
                      ng-disabled="vm.product.is_accept_schedule === vm.constants.IS_ACCEPT_SCHEDULE"
                      options="vm.master.accept_schedule">
                    </multiselect>
                  </div>
                  <input type="hidden" name="accepted_schedule" ng-model="vm.product.accepted_schedule"
                    ng-required="vm.product.is_accept_schedule !== vm.constants.IS_ACCEPT_SCHEDULE">
                </td>
              </tr>

              <!-- 配送不可地域 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.except_plane.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-4 form-group" colspan="{{vm.product._id ? 3 : ''}}">
                  <div style="display: inline-block;" class="form-group" show-errors>
                    <label class="radio-inline" ng-repeat="item in vm.master.except_place_options"
                      style="padding-left: 0;">
                      <input type="checkbox" name="is_set_except_place" ng-click="vm.toggleSelection(item.id)"
                        ng-checked="vm.isCheckedExceptPlace(item.id)" value="{{item.id}}" id="except_place_{{item.id}}">
                      <span style="padding-left: 5px;">{{item.value}}</span>
                    </label>
                    <input type="hidden" name="except_place_options" ng-model="vm.product.except_place_options">
                  </div>
                  <div style="display: inline-block; width: 30%; margin-bottom: 0;" class="form-group" show-errors>
                    <input type="text" name="except_place" class="form-control" ng-model="vm.product.except_place"
                      placeholder="{{'products.form.except_plane.placeholder' | translate}}"
                      ng-readonly="!vm.isExcepPlace" ng-required="vm.isExcepPlace">
                  </div>
                </td>
              </tr>

              <!-- 配送除外日 -->
              <tr>
                <th class="col-xs-2">
                  {{'products.form.except_date.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="{{vm.product._id ? 3 : ''}}">
                  <textarea class="form-control" placeholder="{{'products.form.except_date.placeholder' | translate}}"
                    name="except_date" rows="5" ng-model="vm.product.except_date" maxlength="100"
                    ng-maxlength="100"></textarea>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="municipality.products.list"></button-back>
          <button type="submit" class="btn btn-success btn-sm ng-binding">
            <i class="fa fa-save"></i>
            <span>保存</span>
          </button>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.municMemberForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.name.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.code.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.code.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.price.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.price.error.required' | translate}}</li>
            <li class="text-red" ng-message="pattern">{{'products.form.price.error.invalid' | translate}}</li>
          </div>
<!-- 
          <div ng-messages="vm.municMemberForm.capacity.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.capacity.error.required' | translate}}</li>
          </div> -->

          <div ng-messages="vm.municMemberForm.expire_detail.$error" role="alert"
            ng-if="vm.product.expire === vm.constants.OK">
            <li class="text-red" ng-message="required">{{'products.form.expire_detail.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.operator.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.operator.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.is_set_stock_quantity.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.is_set_stock_quantity.error.required' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.stock_quantity.$error" role="alert"
            ng-if="vm.product.is_set_stock_quantity && vm.product.is_set_stock_quantity !== vm.constants.ALWAYS_STOCK">
            <li class="text-red" ng-message="required">{{'products.form.stock_quantity.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="min">{{'products.form.stock_quantity.error.min' | translate}}</li>
            <li class="text-red" ng-message="pattern">{{'products.form.stock_quantity.error.invalid' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.is_set_max_quantity.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.is_set_max_quantity.error.required' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.max_quantity.$error" role="alert"
            ng-if="vm.product.is_set_max_quantity && vm.product.is_set_max_quantity !== vm.constants.LIMIT_BUY_NONE">
            <li class="text-red" ng-message="required">{{'products.form.max_quantity.error.required' | translate}}</li>
            <li class="text-red" ng-message="min">{{'products.form.max_quantity.error.min' | translate}}</li>
            <li class="text-red" ng-message="pattern">{{'products.form.max_quantity.error.invalid' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.is_deadline.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.is_deadline.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.deadline.$error" role="alert"
            ng-if="vm.product.is_deadline !== vm.constants.YEAR_ROUND">
            <li class="text-red" ng-message="required">{{'products.form.deadline.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.description.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.description.error.required' | translate}}</li>
          </div>

          <div ng-messages="vm.municMemberForm.avatar.$error" role="alert">
            <li class="text-red" ng-message="required">{{'products.form.avatar.error.required' | translate}}</li>
          </div>

        </div>
      </div>
    </div>
  </form>
</section>