<section class="content container-fluid">
  <form name="vm.municFormProductSetting" style="padding-bottom: 20px;" class="form-edit"
    ng-submit="vm.updateProductSetting(vm.municFormProductSetting.$valid)" novalidate autocomplete="off">
    <div ng-if="vm.isKey13" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>{{'municipalities.settings.form.question.header' | translate}}</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.question.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" colspan="3" show-errors>
                  <div><small> {{'municipalities.settings.form.question.note' | translate}}</small></div>
                  <input type="text" class="form-control"
                    placeholder="{{'municipalities.settings.form.question.placeholder' | translate}}" name="question"
                    ng-model="vm.munic.question">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div ng-if="vm.isKey13" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>{{'municipalities.settings.form.max_quantity.header' | translate}}</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.max_quantity.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="number" class="form-control" name="max_quantity"
                    placeholder="{{'municipalities.settings.form.max_quantity.placeholder' | translate}}"
                    ng-model="vm.munic.max_quantity" required min="0">
                </td>
                <td class="col-xs-6 form-group" colspan="3">
                  <span>個</span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="messages mg30t" ng-if="vm.isSaveClick">
            <div ng-messages="vm.municFormProductSetting.max_quantity.$error" role="alert">
              <li class="text-red" ng-message="required">{{'municipalities.settings.form.max_quantity.error.required' |
                translate}}</li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="vm.isKey13" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>{{'municipalities.settings.form.apply_times.header' | translate}}</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.apply_times.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="checkbox" name="is_apply_times" ng-checked="vm.munic.is_apply_times"
                    ng-model="vm.munic.is_apply_times" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div ng-if="vm.isKey13" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>{{'municipalities.settings.form.check_list.header' | translate}}</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.check_list.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <div><small> {{'municipalities.settings.form.check_list.note' | translate}}</small></div>
                  <textarea class="form-control" name="checklist"
                    placeholder=" {{'municipalities.settings.form.check_list.placeholder' | translate}}"
                    ng-model="vm.munic.checklist" rows="5">
                  </textarea>

                  <p>確認事項の例：</p>
                  <ul>
                    <li style="list-style: none;">
                      <small>1.　お寄せ頂いた個人情報は、寄付申込先の自治体が寄付金の受付及び入金に係る確認・連絡等に利用するものであり、それ以外の目的で使用するものではありません。</small>
                    </li>
                    <li style="list-style: none;"><small>2.　寄付金受領証明書等は「申込者情報」の氏名・住所で発行します。</small></li>
                    <li style="list-style: none;">
                      <small>3.　市町村によって寄付のお礼の仕方は様々です。各自治体のふるさと納税寄付金制度をよくご確認の上、お申込みください。</small>
                    </li>
                    <li style="list-style: none;"><small>4.　本年所得について、税の軽減を受ける場合には、寄付金受領証明書等の領収日が本年中であることが必要です。<br>
                        　　領収日は、クレジットカード決済の場合は「決済日」、銀行及び郵便振込（金融機関）の場合は、金融機関での「振込日」となり、決済方法により異なります。</small>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClickCheckList">
          <div ng-messages="vm.municFormListConfirm.checklist.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.check_list.error.required' |
              translate}}</li>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="vm.isKey14" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>{{'municipalities.settings.form.contact.header' | translate}}</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.contact_name.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <input type="text" class="form-control" name="contact_name" ng-model="vm.munic.contact_name"
                    placeholder="{{'municipalities.settings.form.contact_name.placeholder' | translate}}">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.contact_tel.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <input type="text" class="form-control" name="contact_tel" ng-model="vm.munic.contact_tel"
                    placeholder="{{'municipalities.settings.form.contact_tel.placeholder' | translate}}">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.contact_email.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <input type="email" class="form-control" name="contact_mail" ng-model="vm.munic.contact_mail"
                    placeholder="{{'municipalities.settings.form.contact_email.placeholder' | translate}}">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.fax.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" colspan="3" show-errors>
                  <div><small> {{'municipalities.settings.form.fax.note' | translate}}</small></div>
                  <input type="text" class="form-control"
                    placeholder="{{'municipalities.settings.form.fax.placeholder' | translate}}" name="fax"
                    ng-model="vm.munic.fax" ng-pattern="/^[0-9]{1,}$/">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.municFormProductSetting.fax.$error" role="alert">
            <li class="text-red" ng-message="pattern">{{'municipalities.settings.form.fax.error.invalid' | translate}}
            </li>
          </div>
        </div>

      </div>
    </div>

    <div ng-if="vm.isKey13" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>書類送付先設定</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  書類送付先表示
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <input type="checkbox" name="is_apply_times" ng-checked="vm.munic.is_setting_docs"
                    ng-model="vm.munic.is_setting_docs" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div ng-if="vm.isKey13" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>利用システム設定</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  利用システム
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <div class="inline-block">
                    <input type="radio" value="1" name="is_usage_system" id="is_usage_system_1"
                      ng-checked="vm.munic.is_usage_system === 1" ng-model="vm.munic.is_usage_system" />

                    <label for="is_usage_system_1">Furusato 360</label>
                  </div>

                  <div class="inline-block" style="padding-left: 20px;">
                    <input type="radio" value="2" name="is_usage_system" id="is_usage_system_2"
                      ng-checked="vm.munic.is_usage_system === 2" ng-model="vm.munic.is_usage_system" />

                    <label for="is_usage_system_2">エッグ</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>のし希望設定</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  のし希望表示
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <input type="checkbox" name="is_apply_times" ng-checked="vm.munic.is_setting_gift_bows"
                    ng-model="vm.munic.is_setting_gift_bows" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div ng-if="vm.isKey13" class="row">
      <div class="col-lg-12">
        <div class="table-custom" ng-class="{'view-only': vm.requestStatus === 'detail'}">
          <h4>ワンストップ特例申請書の送付設定</h4>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  ワンストップ特例申請書の送付申し込み受付
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <label class="radio-inline" ng-repeat="item in vm.apply_need">
                    <input type="radio" name="is_apply_need" ng-model="vm.munic.is_apply_need "
                      ng-checked="vm.munic.is_apply_need === item.id" value="{{item.id}}"
                      id="is_apply_need_{{item.id}}">{{item.text}}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group mgnb mg50b text-center">
      <button ng-if="!vm.requestStatus || vm.requestStatus === 'update'" type="submit"
        class="btn btn-success btn-sm ng-binding">
        <i class="fa fa-save"></i>
        <span ng-if="vm.isNeedAuthorize === 'true'">申請登録</span>
        <span ng-if="vm.isNeedAuthorize !== 'true'">保存</span>
      </button>

      <button-back back="municipality.requests_application.list" noback="municipality.requests_application.list"
        ng-if="vm.requestStatus === 'detail'"></button-back>
    </div>
  </form>
</section>