<section class="content container-fluid">
  <form name="vm.municForm" class="form-edit employee-form" ng-submit="vm.update(vm.municForm.$valid)" novalidate
    autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>
              <span class="page_title_clickable" ui-sref="admin.municipalities.list">
                {{'municipalities.list.page.title' | translate}}
              </span>&nbsp;>
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="admin.municipalities.list"></button-back>
            <button-save></button-save>
          </div>
        </div>

        <div class="table-custom">

          <table class="table table-detail table-bordered">
            <tbody>
              <!-- <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.id.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="3">
                  <input type="text" class="form-control" ng-model="vm.munic.code" readonly>
                </td>
              </tr> 

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.created.label' | translate}}
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="3">
                  <input type="text" class="form-control" ng-model="vm.munic.created | dateTimeNormal" readonly>
                </td>
              </tr>  -->

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.prefecture.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="3">
                  <select name="prefecture" class="form-control" ng-model="vm.munic.prefecture"
                    ng-options="item as item for item in vm.master.prefectures">
                  </select>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="name" class="form-control" ng-model="vm.munic.name"
                    placeholder="{{'municipalities.form.name.placeholder' | translate}}" required>
                </td>
              </tr>

             

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.last_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors>
                  <input type="text" name="last_name" class="form-control" ng-model="vm.munic.admin.last_name"
                    placeholder="{{'municipalities.form.last_name.placeholder' | translate}}" required ng-maxlength="16"
                    maxlength="16">
                  
                </td>

                <th class="col-xs-2">
                  {{'municipalities.form.first_name.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group" show-errors colspan="3">
                  <input type="text" name="first_name" class="form-control" ng-model="vm.munic.admin.first_name"
                    placeholder="{{'municipalities.form.first_name.placeholder' | translate}}" required
                    ng-maxlength="16" maxlength="16">
                </td>
              </tr>

              <tr>
                <th class="col-xs-1">
                  {{'municipalities.form.department.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="department" class="form-control" ng-model="vm.munic.admin.department"
                    placeholder="{{'municipalities.form.department.placeholder' | translate}}" required>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.phone.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input name="phone" class="form-control" ng-model="vm.munic.admin.phone"
                    placeholder="{{'municipalities.form.phone.placeholder' | translate}}" minlength="9" maxlength="13" required
                    input-validator="tel">
                </td>
              </tr>

              <!-- <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.fax.label' | translate}}
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input name="fax" class="form-control" ng-model="vm.munic.fax"
                    ng-pattern="/^[0-9]{1,}$/"
                    placeholder="{{'municipalities.form.fax.placeholder' | translate}}" >
                </td>
              </tr> -->

              <!-- <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.email.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="email" name="email" class="form-control" ng-model="vm.munic.admin.email"
                    placeholder="{{'municipalities.form.email.placeholder' | translate}}" required
                    input-validator="email">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.form.password.label' | translate}}
                  <span class="text-red" ng-if="!vm.munic._id">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="password" name="password" class="form-control" ng-model="vm.munic.password"
                    placeholder="{{'municipalities.form.password.placeholder' | translate}}" ng-required="!vm.munic._id"
                    ng-minlength="8" ng-maxlength="16" maxlength="16">
                  <span><small>{{'municipalities.form.note_password.label' | translate}}</small></span>
                </td>
              </tr> -->

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.method.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" colspan="3">
                  <div class="form-check inline-block" ng-repeat="(key, item) in vm.master.payment_methods">
                    <input name="methods" type="checkbox" id="method_{{item.id}}" type="checkbox" value="{{item.id}}"
                      ng-checked="vm.munic.methods.indexOf(item.id) > -1" ng-click="toggleSelection(item.id)">
                    <label class="form-check-label" for="method_{{item.id}}">{{item.value}}</label>&nbsp;&nbsp;
                  </div>
              </tr>

              <th class="col-xs-2">
                {{'municipalities.settings.form.bank_code.label' | translate}}
                <span class="text-red"> {{'municipalities.settings.form.bank_code_note.label' | translate}}</span>
              </th>
              <td class="col-xs-10 form-group" show-errors colspan="3">
                <input type="text" name="bank_code" class="form-control" ng-model="vm.munic.bank_code"
                  placeholder="{{'municipalities.settings.form.bank_code.placeholder' | translate}}"
                  ng-pattern="/^[0-9]{4}$/" minlength='4' maxlength="4">
              </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.bank_name.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="bank_name" class="form-control" ng-model="vm.munic.bank_name"
                    placeholder="{{'municipalities.settings.form.bank_name.placeholder' | translate}}">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.branch_code.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="branch_code" class="form-control" ng-model="vm.munic.branch_code"
                    placeholder="{{'municipalities.settings.form.branch_code.placeholder' | translate}}">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.branch_name.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="branch_name" class="form-control" ng-model="vm.munic.branch_name"
                    placeholder="{{'municipalities.settings.form.branch_name.placeholder' | translate}}">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'municipalities.settings.form.bank_type.label' | translate}}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <select name="bank_type" class="form-control" ng-model="vm.munic.bank_type"
                    ng-options="item.id as item.value for item in vm.master.bank_types">
                  </select>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{ 'municipalities.settings.form.bank_number.label' | translate }}
                  <span class="text-red">{{ 'municipalities.settings.form.bank_number_note.label' | translate }}</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="bank_number" class="form-control" ng-model="vm.munic.bank_number"
                    placeholder="{{'municipalities.settings.form.bank_number.placeholder' | translate}}"
                    ng-pattern="/^[0-9]{7}$/" minlength='7' maxlength="7">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{ 'municipalities.settings.form.bank_owner.label' | translate }}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="bank_owner" class="form-control" ng-model="vm.munic.bank_owner"
                    placeholder="{{'municipalities.settings.form.bank_owner.placeholder' | translate}}">
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{ 'municipalities.settings.form.bank_owner_kana.label' | translate }}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="bank_owner_kana" class="form-control" ng-model="vm.munic.bank_owner_kana"
                    placeholder="{{'municipalities.settings.form.bank_owner_kana.placeholder' | translate}}"
                    input-validator='kana'>
                </td>
              </tr>

              <tr ng-if="vm.isAdminAndSubAdmin" >
                <th class="col-xs-2">
                  {{ 'municipalities.settings.form.fee.label' | translate }}
                  <!-- <span class="text-red">*</span> -->
                </th>
                <td class="col-xs-2 form-group" show-errors >
                  <input type="number" name="fee" class="form-control" ng-model="vm.munic.fee"
                    placeholder="{{'municipalities.settings.form.fee.placeholder' | translate}}"
                    min="0">
                </td>
                <td class="col-xs-8 form-group">
                  <label for="">%</label>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="admin.municipalities.list"></button-back>
          <button-save></button-save>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
         
          <!-- <div ng-messages="vm.municForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.name.error.required' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'municipalities.form.name.error.max_length' | translate}}</li>
          </div> -->

          <div ng-messages="vm.municForm.department.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.department.error.required' | translate}}
            </li>
          </div>
          <div ng-messages="vm.municForm.last_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.last_name.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'municipalities.form.last_name.error.max_length' | translate}}
            </li>
          </div>
          
          <div ng-messages="vm.municForm.first_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.first_name.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'municipalities.form.first_name.error.max_length' |
              translate}}</li>
          </div>
          
          <div ng-messages="vm.municForm.email.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.email.error.required' | translate}}</li>
            <li class="text-red" ng-message="email">{{'municipalities.form.email.error.invalid' | translate}}</li>
          </div>
          <div ng-messages="vm.municForm.password.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.password.error.required' | translate}}
            </li>
            <li class="text-red" ng-message="minlength">{{'municipalities.form.password.error.invalid' | translate}}
            </li>
            <li class="text-red" ng-message="maxlength">{{'municipalities.form.password.error.invalid' | translate}}
            </li>
          </div>

          <div ng-messages="vm.municForm.phone.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.phone.error.required' | translate}}</li>
            <li class="text-red" ng-message="tel">{{'municipalities.form.phone.error.invalid' | translate}}</li>
          </div>

          <!-- <div ng-messages="vm.municForm.fax.$error" role="alert">
            <li class="text-red" ng-message="pattern">{{'municipalities.form.fax.error.invalid' | translate}}</li>
          </div> -->

          <div ng-messages="vm.municForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.form.name.error.required' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'municipalities.form.name.error.max_length' | translate}}</li>
          </div>
          <div ng-messages="vm.municForm.bank_code.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.bank_code.error.required' |
              translate}}</li>
            <li class="text-red" ng-message="pattern">{{'municipalities.settings.form.bank_code.error.invalid' |
              translate}}</li>
          </div>
          <div ng-messages="vm.municForm.bank_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.bank_name.error.required' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municForm.branch_code.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.branch_code.error.required' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municForm.branch_name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.branch_name.error.required' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municForm.bank_number.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.bank_number.error.required' |
              translate}}</li>
            <li class="text-red" ng-message="pattern">{{'municipalities.settings.form.bank_number.error.invalid' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municForm.bank_owner.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.bank_owner.error.required' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municForm.bank_owner_kana.$error" role="alert">
            <li class="text-red" ng-message="required">{{'municipalities.settings.form.bank_owner_kana.error.required' |
              translate}}</li>
            <li class="text-red" ng-message="kana">{{'municipalities.settings.form.bank_owner_kana.error.kana' |
              translate}}</li>
          </div>

          <div ng-messages="vm.municForm.fee.$error" role="alert" ng-if="vm.isAdminAndSubAdmin">
            <li class="text-red" ng-message="min">{{'municipalities.settings.form.fee.error.min' |
              translate}}</li>
          </div>

        </div>
      </div>
    </div>
  </form>
</section>