<section class="content container-fluid">
  <form name="vm.settingForm" class="form-edit notice-form" ng-submit="vm.update(vm.settingForm.$valid)" novalidate
    autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <form-title></form-title>
          </div>
          <div class="col-xs-6 text-right">
            <button-save></button-save>
          </div>
        </div>

        <!-- pps -->
        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4 style="display: inline-block">{{'setting.form.point_setting.subtitle' | translate}}</h4>
              <button class="btn btn-primary btn-sm pull-right mg5r" ng-click="vm.editPPS({
                pps: vm.setting.pps,
                isCurrentValue: true})" type="button">
                <i class="fa fa-edit"></i>
                {{'common.button.edit' | translate}}
              </button>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <!-- current value -->
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.pps.label' | translate}}
                </th>
                <td class="col-xs-8 form-group">
                  <span>{{vm.setting.pps}}{{'common.label.unit.point' |
                    translate}}</span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.pps_applied_date.label' | translate}}
                </th>
                <td class="col-xs-8" colspan="3">
                  <span>{{vm.setting.pps_applied_date | dateNormal}}</span>
                </td>
              </tr>

              <tr ng-if="vm.isAddOrEditingPPS">
                <th class="col-xs-4">
                  {{'setting.form.pps_apply_future_value.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8 form-group" show-errors>
                  <input type="number" name="pps_apply_future_value" class="form-control apply_form_input"
                    placeholder="{{'setting.form.pps_apply_future_value.placeholder' | translate}}"
                    ng-model="vm.configSettingPPS.pps" input-validator="float" />
                  <span>{{'common.label.unit.point' | translate}}</span>
                </td>
              </tr>
              <tr ng-if="vm.isAddOrEditingPPS && !vm.configSettingPPS.isCurrentValue">
                <th class="col-xs-4">
                  {{'setting.form.pps_apply_start_date.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8 form-group" show-errors>
                  <input type="text" name="pps_apply_start_date" class="form-control apply_form_input"
                    uib-datepicker-popup="{{formatDate}}" datepicker-options="vm.dateOptions" show-button-bar="false"
                    ng-click="openCalendar($event, 'pps_apply_start_date')" placeholder="YYYY/MM/DD"
                    ng-model="vm.configSettingPPS.pps_apply_start_date" is-open="open.pps_apply_start_date" />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row mg10b">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6 text-right">
              <a class="btn btn-success btn-sm pull-right mg5r" ng-if="!vm.isAddOrEditingPPS"
                ng-click="vm.isAddOrEditingPPS = true">
                <span class="glyphicon glyphicon-plus"></span> {{'common.button.add' | translate}}
              </a>
              <button type="button" class="btn btn-success btn-sm pull-right mg5r" ng-if="vm.isAddOrEditingPPS"
                ng-disabled="(!vm.configSettingPPS.pps && vm.configSettingPPS.pps !== 0) || !vm.configSettingPPS.pps_apply_start_date"
                ng-click="vm.addOrUpdatePPS()">
                <i class="fa fa-save"></i>
                {{'common.button.save' | translate}}
              </button>
            </div>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-index">#</th>
                <th class="w150 text-center">
                  {{'setting.form.pps_apply_future_value.label' | translate}}</th>
                <th class="w150 text-center">
                  {{'setting.form.pps_apply_start_date.label' | translate}}</th>
                <th class="w100 text-center">{{'common.table.header.action' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="7" ng-show="!vm.ppsDocs || vm.ppsDocs.length === 0">
                  {{'common.table.no_data_available' | translate}}
                </td>
              </tr>
              <tr ng-repeat="item in vm.ppsDocs track by $index">
                <td class="text-center">
                  {{ tableIndex(vm.conditionForPPS, $index) }}
                </td>
                <td class="text-center">
                  {{item.pps}}{{'common.label.unit.point' | translate}}
                </td>
                <td class="text-center" ng-bind="item.pps_apply_start_date | dateNormal">
                </td>

                <td class="text-center w150" ui-sref-ignore>
                  <button ng-if="!item.is_applied" class="btn btn-xs btn-primary" type="button"
                    ng-click="vm.editPPS(item)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{'common.button.edit' | translate}}
                  </button>
                  <button ng-if="!item.is_applied" class="btn btn-xs btn-danger" type="button"
                    ng-click="vm.removePPS(item._id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    {{'common.button.del' | translate}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <uib-pagination class="mg10t" style="margin-bottom: 10px;" total-items="vm.conditionForPPS.total"
              ng-model="vm.conditionForPPS.page" max-size="5" boundary-links="true"
              items-per-page="vm.conditionForPPS.limit" ng-click="vm.handlePageChangedForPPS()" previous-text="前"
              next-text="次" first-text="最初" last-text="最後"></uib-pagination>
          </div>
        </div>

        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4 style="display: inline-block;">{{'setting.form.donation_amount_setting.subtitle' | translate}}</h4>
              <button class="btn btn-primary btn-sm pull-right mg5r" ng-click="vm.editAPS({
                minimum_donation_amount: vm.setting.minimum_donation_amount,
                aps: vm.setting.aps,
                isCurrentValue: true})" type="button">
                <i class="fa fa-edit"></i>
                {{'common.button.edit' | translate}}
              </button>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <!-- current value -->
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.minimum_donation_amount.label' | translate}}
                </th>
                <td class="col-xs-8" colspan="3">
                  <span *ngIf="vm.setting.minimum_donation_amount">{{vm.setting.minimum_donation_amount |
                    format_money :true}}</span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.aps.label' | translate}}
                </th>
                <td class="col-xs-8" colspan="3">
                  <span *ngIf="vm.setting.aps">{{vm.setting.aps | format_money: true}}</span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.aps_minimum_donation_amount_applied_date.label' | translate}}
                </th>
                <td class="col-xs-8" colspan="3">
                  <span>{{vm.setting.donation_amount_applied_date | dateNormal}}</span>
                </td>
              </tr>

              <!-- minimum_donation_amount_apply_future_value -->
              <tr ng-if="vm.isAddOrEditingAPS">
                <th class="col-xs-4">
                  {{'setting.form.minimum_donation_amount_apply_future_value.label' | translate}}
                  <span class="text-red" ng-if="vm.configSettingAPS.isSetMinimumDonationAmount">*</span>
                </th>
                <td class="col-xs-3">
                  <button-enable model="vm.configSettingAPS.isSetMinimumDonationAmount"
                    on="{{'common.label.set' | translate}}" off="{{'common.label.not_set' | translate}}">
                  </button-enable>
                </td>
                <td ng-if="vm.configSettingAPS.isSetMinimumDonationAmount" class="col-xs-5 form-group" show-errors>
                  <input type="number" name="minimum_donation_amount" class="form-control apply_form_input"
                    number-integer-only
                    placeholder="{{'setting.form.minimum_donation_amount_apply_future_value.placeholder' | translate}}"
                    ng-model="vm.configSettingAPS.minimum_donation_amount" input-validator="number"
                    ng-keydown="preventPressCommaKey($event)" min="0" />
                  <span>{{'common.label.unit.money' | translate}}</span>
                </td>
                <td ng-if="!vm.configSettingAPS.isSetMinimumDonationAmount" class="col-xs-5 form-group">
                  <input type="number" disabled class="form-control apply_form_input">
                  <span>{{'common.label.unit.money' | translate}}</span>
                </td>
              </tr>
              <!-- aps -->
              <tr ng-if="vm.isAddOrEditingAPS">
                <th class="col-xs-4">
                  {{'setting.form.aps_apply_future_value.label' | translate}}
                  <span class="text-red" ng-if="vm.configSettingAPS.isSetAps">*</span>
                </th>
                <td class="col-xs-3">
                  <button-enable model="vm.configSettingAPS.isSetAps" on="{{'common.label.set' | translate}}"
                    off="{{'common.label.not_set' | translate}}">
                  </button-enable>
                </td>
                <td ng-if="vm.configSettingAPS.isSetAps" class="col-xs-5 form-group" show-errors>
                  <input type="number" name="aps" class="form-control apply_form_input"
                    placeholder="{{'setting.form.aps_apply_future_value.placeholder' | translate}}"
                    ng-model="vm.configSettingAPS.aps" input-validator="float" min="masterdata.MINIMUM_APS" />
                  <span>{{'common.label.unit.money' | translate}}</span>
                </td>
                <td ng-if="!vm.configSettingAPS.isSetAps" class="col-xs-5 form-group">
                  <input type="number" disabled class="form-control apply_form_input">
                  <span>{{'common.label.unit.money' | translate}}</span>
                </td>
              </tr>
              <tr ng-if="vm.isAddOrEditingAPS && !vm.configSettingAPS.isCurrentValue">
                <th class="col-xs-4">
                  {{'setting.form.donation_amount_apply_start_date.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8 form-group" colspan="3" show-errors>
                  <input type="text" name="donation_amount_apply_start_date" class="form-control apply_form_input"
                    uib-datepicker-popup="{{formatDate}}" datepicker-options="vm.dateOptions" show-button-bar="false"
                    ng-click="openCalendar($event, 'donation_amount_apply_start_date')" placeholder="YYYY/MM/DD"
                    required ng-model="vm.configSettingAPS.donation_amount_apply_start_date"
                    is-open="open.donation_amount_apply_start_date" />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row mg10b">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6 text-right">
              <a class="btn btn-success btn-sm pull-right mg5r" ng-if="!vm.isAddOrEditingAPS"
                ng-click="vm.isAddOrEditingAPS = true">
                <span class="glyphicon glyphicon-plus"></span> {{'common.button.add' | translate}}
              </a>
              <button type="button" class="btn btn-success btn-sm pull-right mg5r" ng-if="vm.isAddOrEditingAPS"
                ng-disabled="vm.isDisableSaveAPS()" ng-click="vm.addOrUpdateAPS()">
                <i class="fa fa-save"></i>
                {{'common.button.save' | translate}}
              </button>
            </div>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-index">#</th>
                <th class="w150 text-center">
                  {{'setting.form.minimum_donation_amount_apply_future_value.label' | translate}}</th>
                <th class="w150 text-center">
                  {{'setting.form.aps_apply_future_value.label' | translate}}</th>
                <th class="w150 text-center">
                  {{'setting.form.donation_amount_apply_start_date.label' | translate}}</th>
                <th class="w100 text-center">{{'common.table.header.action' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="7" ng-show="!vm.apsDocs || vm.apsDocs.length === 0">
                  {{'common.table.no_data_available' | translate}}
                </td>
              </tr>
              <tr ng-repeat="item in vm.apsDocs track by $index">
                <td class="text-center">
                  {{ tableIndex(vm.conditionForAPS, $index) }}
                </td>
                <td class="text-center">
                  {{item.minimum_donation_amount | format_money}}
                <td class="text-center">
                  {{item.aps | format_money :true}}
                </td>
                <td class="text-center" ng-bind="item.donation_amount_apply_start_date | dateNormal"></td>
                <td class="text-center w150" ui-sref-ignore>
                  <button ng-if="!item.is_applied" class="btn btn-xs btn-primary" type="button"
                    ng-click="vm.editAPS(item)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{'common.button.edit' | translate}}
                  </button>
                  <button ng-if="!item.is_applied" class="btn btn-xs btn-danger" type="button"
                    ng-click="vm.removeAPS(item._id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    {{'common.button.del' | translate}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <uib-pagination class="mg10t" style="margin-bottom: 10px;" total-items="vm.conditionForAPS.total"
              ng-model="vm.conditionForAPS.page" max-size="5" boundary-links="true"
              items-per-page="vm.conditionForAPS.limit" ng-click="vm.handlePageChangedForAPS()" previous-text="前"
              next-text="次" first-text="最初" last-text="最後"></uib-pagination>
          </div>
        </div>

        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4>{{'setting.form.max_point_setting.subtitle' | translate}}</h4>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.max_point.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8 form-group" show-errors>
                  <input type="number" name="max_point" class="form-control apply_form_input"
                    placeholder="{{'setting.form.max_point.placeholder' | translate}}" ng-model="vm.setting.max_point"
                    required input-validator="number" ng-keydown="preventPressCommaKey($event)" number-integer-only
                    min="0" />
                  <span>{{'common.label.unit.percent' | translate}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- URL of Furu -->
        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.is_show_open_furu.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8">
                  <button-enable model="vm.setting.is_show_open_furu" on="{{'common.label.show' | translate}}"
                    off="{{'common.label.hide' | translate}}">
                  </button-enable>
                </td>
              </tr>
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.furu_url.label' | translate}}
                  <span class="text-red" ng-if="vm.setting.is_show_open_furu">*</span>
                </th>
                <td ng-if="vm.setting.is_show_open_furu" class="col-xs-8 form-group" show-errors>
                  <input type="text" name="furu_url" class="form-control"
                    placeholder="{{'setting.form.furu_url.placeholder' | translate}}" ng-model="vm.setting.furu_url"
                    required input-validator="url_not_required" />
                </td>
                <td ng-if="!vm.setting.is_show_open_furu" class="col-xs-8 form-group" show-errors>
                  <input type="text" name="furu_url" class="form-control"
                    placeholder="{{'setting.form.furu_url.placeholder' | translate}}" ng-model="vm.setting.furu_url"
                    input-validator="url_not_required" />
                </td>
              </tr>

              <tr>
                <th class="col-xs-4">
                  {{'setting.form.corporate_tax_payment_url.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8 form-group" show-errors>
                  <input type="text" name="corporate_tax_payment_url" class="form-control"
                    placeholder="{{'setting.form.corporate_tax_payment_url.placeholder' | translate}}"
                    ng-model="vm.setting.corporate_tax_payment_url" required input-validator="url_not_required" />
                </td>
              </tr>
              <tr>
                <th class="col-xs-4">
                  {{'setting.form.personal_tax_payment_url.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8 form-group" show-errors>
                  <input type="text" name="personal_tax_payment_url" class="form-control"
                    placeholder="{{'setting.form.personal_tax_payment_url.placeholder' | translate}}"
                    ng-model="vm.setting.personal_tax_payment_url" required input-validator="url_not_required" />
                </td>
              </tr>

              <tr>
                <th class="col-xs-4">
                  {{'setting.form.days_show_finished_event.label' | translate}}
                </th>
                <td class="col-xs-8 form-group" show-errors>
                  <input type="number" name="days_show_finished_event" class="form-control apply_form_input"
                    placeholder="{{'setting.form.days_show_finished_event.placeholder' | translate}}"
                    ng-model="vm.setting.days_show_finished_event" input-validator="number"
                    ng-keydown="preventPressCommaKey($event)" number-integer-only min="0" />
                  <span>{{'common.label.unit.day' | translate}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- term & policy -->
        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4>{{'setting.form.term_and_policy_setting.subtitle' | translate}}</h4>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'setting.form.term.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <textarea ck-editor ng-model="vm.setting.term" name="term" class="form-control"
                    placeholder="{{'setting.form.term.placeholder' | translate}}" required></textarea>
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'setting.form.policy.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <textarea ck-editor ng-model="vm.setting.policy" name="policy" class="form-control"
                    placeholder="{{'setting.form.policy.placeholder' | translate}}" required></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-custom">
          <div class="row mg10b">
            <div class="col-xs-12">
              <h4>メールアドレス</h4>
            </div>
          </div>
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-4">
                  メールアドレス
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-8 form-group" show-errors>
                  <input type="email" name="email" class="form-control apply_form_input" placeholder="メールアドレスを入力"
                    ng-model="user.email" required input-validator="email" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group mgnb mg50b text-center">
          <button-save></button-save>
        </div>

        <!-- error messages -->
        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.settingForm.pps_apply_future_value.$error" role="alert">
            <li class="text-red" ng-message="required">
              {{'setting.form.pps_apply_future_value.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="number">
              {{'setting.form.pps_apply_future_value.error.number' | translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.pps_apply_start_date.$error" role="alert">
            <li class="text-red" ng-message="required">
              {{'setting.form.pps_apply_start_date.error.required' |
              translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.minimum_donation_amount_apply_future_value.$error" role="alert">
            <li class="text-red" ng-message="required">
              {{'setting.form.minimum_donation_amount_apply_future_value.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="number">
              {{'setting.form.minimum_donation_amount_apply_future_value.error.number' | translate}}
            </li>
            <li class="text-red" ng-message="min">
              {{'setting.form.minimum_donation_amount_apply_future_value.error.min_0' | translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.aps_apply_future_value.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.aps_apply_future_value.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="number">{{'setting.form.aps_apply_future_value.error.number' | translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.donation_amount_apply_start_date.$error" role="alert">
            <li class="text-red" ng-message="required">
              {{'setting.form.donation_amount_apply_start_date.error.required' |
              translate}}
            </li>
          </div>

          <div ng-messages="vm.settingForm.max_point.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.max_point.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="number">{{'setting.form.max_point.error.number' | translate}}
            </li>
            <li class="text-red" ng-message="min">{{'setting.form.max_point.error.min_0_max_20' | translate}}
            </li>
            <li class="text-red" ng-message="max">{{'setting.form.max_point.error.max_20' | translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.furu_url.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.furu_url.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="url_not_required">{{'setting.form.furu_url.error.url_format' |
              translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.corporate_tax_payment_url.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.corporate_tax_payment_url.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="url_not_required">
              {{'setting.form.corporate_tax_payment_url.error.url_format' |
              translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.personal_tax_payment_url.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.personal_tax_payment_url.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="url_not_required">
              {{'setting.form.personal_tax_payment_url.error.url_format' |
              translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.days_show_finished_event.$error" role="alert">
            <li class="text-red" ng-message="number">{{'setting.form.days_show_finished_event.error.number' |
              translate}}
            </li>
            <li class="text-red" ng-message="min">{{'setting.form.days_show_finished_event.error.min_0' | translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.term.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.term.error.required' |
              translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.policy.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.policy.error.required' |
              translate}}
            </li>
          </div>
          <div ng-messages="vm.settingForm.email.$error" role="alert">
            <li class="text-red" ng-message="required">{{'setting.form.email.error.required' |
              translate}}
            </li>
            <li class="text-red" ng-message="email">{{'setting.form.email.error.invalid' |
              translate}}
            </li>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>