<section class="content container-fluid">
  <div class="row mg10b">
    <div class="col-xs-6">
      <form-title></form-title>
    </div>
  </div>
  <table-search>
    <table-search-button>
      <a class="btn btn-success btn-sm pull-right mg5r" data-ui-sref="admin.qas.create">
        <span class="glyphicon glyphicon-plus"></span> {{'common.button.add' | translate}}
      </a>
    </table-search-button>
    <table-search-content>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div class="form-group">
          <label>{{'qa.list.search.keyword.label' | translate}}</label>
          <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword"
            placeholder="{{'qa.list.search.keyword.placeholder' | translate}}"
            event-enter="vm.handleConditionChanged(true)" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'common.label.max_row_in_page' | translate}}</label>
          <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit"
            placeholder="{{'common.placeholder.max_row_in_page' | translate}}" search-limit maxlength="4" />
        </div>
      </div>
    </table-search-content>
  </table-search>

  <div class="row">
    <!-- 各ボタン -->
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title">
          {{ tableReport(vm.condition) }}
        </p>
      </div>
    </div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-index">#</th>
              <th class="w100 text-center" tbtitle="{{'qa.list.table.header.display_order' | translate}}"
                tbmodel="display_order" ng-click="vm.handleSortChanged('display_order')" table-order
                tbcondition="vm.condition"></th>

              <th class="w150" tbtitle="{{'qa.list.table.header.question' | translate}}" tbmodel="question"
                ng-click="vm.handleSortChanged('question')" table-order tbcondition="vm.condition"></th>
              <th class="w250">
                {{'qa.list.table.header.answer' | translate}}</th>
              <th class="text-center w150">{{'common.table.header.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="10" ng-show="!vm.docs || vm.docs.length === 0">
                {{'common.table.no_data_available' | translate}}
              </td>
            </tr>
            <tr ng-repeat="item in vm.docs track by $index" class="clickable"
              ui-sref="admin.qas.detail({ qaId: item._id })">
              <td class="text-center">
                {{ tableIndex(vm.condition, $index) }}
              </td>
              <td class="text-center" ng-bind="item.display_order">
              </td>
              <td ng-bind="item.question">
              </td>
              <td ng-bind="item.answer">
              </td>

              <td class="text-center" ui-sref-ignore>
                <button class="btn btn-xs btn-primary" ui-sref="admin.qas.edit({qaId: item._id})">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  {{'common.button.edit' | translate}}
                </button>
                <a class="btn btn-xs btn-danger" ng-click="vm.remove(item._id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  {{'common.button.del' | translate}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-include="'/modules/core/client/views/pagination.client.view.html'"></div>
    </div>
  </div>
</section>