<section class="container-ecommerce">
  <h4>申し込み情報の入力</h4>
  <p class="text-red">ブラウザの戻るボタンは使用しないでください。正しい処理が行われなくなります。</p>
  <div class="pay-alert" ng-if="vm.isMappingMunicError">
    住民票に記載されている自治体には寄付できません。
  </div>

  <h5><b>寄付者情報</b></h5>
  <form name="vm.follow2Info" class="form-edit employee-form" ng-submit="vm.addInfo(vm.follow2Info.$valid)" novalidate
    autocomplete="off">
    <!-- section 1 -->
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h5><b>寄付者名</b></h5>
          <h6 class="flex-1 text-left" style="padding-left: 30px;">控除を受ける方の名前を入力してください</h6>
        </div>
        <div class="border-split"></div>
        <div class="row mg12y align-center">
          <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
            <label>{{'ecommerce.follow.two.last_name.label'| translate}}<small class="text-red">*</small></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 form-group mb-0" show-errors>
            <input type="text" class="form-control pay-input w100p" name="last_name" ng-model="vm.data.info.last_name"
              required />
            <div ng-if="vm.isSaveClick" ng-messages="vm.follow2Info.last_name.$error" role="alert">
              <small class="text-red" ng-message="required">{{'ecommerce.follow.two.last_name.error.required' |
                translate}}</small>
            </div>
          </div>
        </div>
        <div class="row mg12y align-center">
          <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
            <label>{{'ecommerce.follow.two.first_name.label'| translate}}<small class="text-red">*</small></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 form-group mb-0" show-errors>
            <input type="text" class="form-control pay-input w100p" name="first_name" ng-model="vm.data.info.first_name"
              required />
            <div ng-if="vm.isSaveClick" ng-messages="vm.follow2Info.first_name.$error" role="alert">
              <small class="text-red" ng-message="required">{{'ecommerce.follow.two.first_name.error.required'|
                translate}}</small>
            </div>
          </div>
        </div>
        <div class="row mg12y align-center">
          <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
            <label>{{'ecommerce.follow.two.last_name_kana.label'| translate}}<small class="text-red">*</small></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 form-group mb-0" show-errors>
            <input type="text" class="form-control pay-input w100p" name="last_name_kana"
              ng-model="vm.data.info.last_name_kana" required input-validator='hiragana' />
            <div ng-if="vm.isSaveClick" ng-messages="vm.follow2Info.last_name_kana.$error" role="alert">
              <small class="text-red" ng-message="required">{{'ecommerce.follow.two.last_name_kana.error.required' |
                translate}}</small>
              <small class="text-red" ng-message="hiragana">{{'ecommerce.follow.two.last_name_kana.error.kana' |
                translate}}</small>
            </div>
          </div>
        </div>
        <div class="row mg12y align-center">
          <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
            <label>{{'ecommerce.follow.two.first_name_kana.label'| translate}}<small class="text-red">*</small></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 form-group mb-0" show-errors>
            <input type="text" class="form-control pay-input w100p" name="first_name_kana"
              ng-model="vm.data.info.first_name_kana" required input-validator='hiragana' />
            <div ng-if="vm.isSaveClick" ng-messages="vm.follow2Info.first_name_kana.$error" role="alert">
              <small class="text-red" ng-message="required">{{'ecommerce.follow.two.first_name_kana.error.required' |
                translate}}</small>
              <small class="text-red" ng-message="hiragana">{{'ecommerce.follow.two.first_name_kana.error.kana' |
                translate}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- section 2 -->
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h5><b>寄付者の連絡先</b></h5>
          <h6 class="flex-1 text-left" style="padding-left: 30px;">日中つながりやすい連絡先を入力してください。御礼の品の配送や寄付に関する連絡に利用</h6>
        </div>
        <div class="border-split"></div>
        <div class="row mg12y align-center">
          <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
            <label>{{'ecommerce.follow.two.tel.label'| translate}}<small class="text-red">*</small></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 form-group mb-0" show-errors>
            <input type="text" class="form-control pay-input w100p" name="phone" ng-model="vm.data.info_contact.phone"
              required
              phone-validator
              />
            <div ng-if="vm.isSaveClick" ng-messages="vm.follow2Info.phone.$error" role="alert">
              <small class="text-red" ng-message="required">{{'ecommerce.follow.two.phone.error.required'|
                translate}}</small>
              <small class="text-red" ng-message="onlynumber">{{'ecommerce.follow.two.phone.error.onlynumber'| translate}}</small>
              <small class="text-red" ng-message="not_has-">{{'ecommerce.follow.two.phone.error.not_has-'| translate}}</small>
              <small class="text-red" ng-message="format_phone">{{'ecommerce.follow.two.phone.error.format_phone'| translate}}</small>
            </div>
          </div>
        </div>
        <div class="row mg12y align-center">
          <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
            <label>{{'ecommerce.follow.two.email.label'| translate}}<small class="text-red">*</small></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 form-group mb-0" show-errors>
            <input type="email" class="form-control pay-input w100p" name="email" ng-model="vm.data.info_contact.email"
              required input-validator='email' />
            <div ng-if="vm.isSaveClick" ng-messages="vm.follow2Info.email.$error" role="alert">
              <small class="text-red" ng-message="required">{{'ecommerce.follow.two.email.error.required'|
                translate}}</small>
              <small class="text-red" ng-message="email">{{'ecommerce.follow.two.email.error.invalid'|
                translate}}</small>
            </div>
          </div>
        </div>
        <div class="row mg12y align-center">
          <div class="col-xs-12 col-sm-4 col-md-3 pay-label">
            <label>{{'ecommerce.follow.two.email_confirm.label'| translate}}<small class="text-red">*</small></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 form-group mb-0" show-errors>
            <input type="email" class="form-control pay-input w100p" name="email_confirm"
              ng-model="vm.data.info_contact.email_confirm" required email="{{vm.data.info_contact.email}}"
              same-input />
            <div ng-if="vm.isSaveClick" ng-messages="vm.follow2Info.email_confirm.$error" role="alert">
              <small class="text-red" ng-message="required">{{'ecommerce.follow.two.email_confirm.error.required'|
                translate}}</small>
              <small class="text-red" ng-message="email">{{'ecommerce.follow.two.email_confirm.error.invalid'|
                translate}}</small>
              <small class="text-red" ng-message="email-not-same">{{'ecommerce.follow.two.email_confirm.error.not_same'|
                translate}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- section 3 -->
    <div ng-include="'/modules/ecommerces/client/views/partials/resident.partial.view.html'"></div>

    <!-- section 4 -->
    <div ng-include="'/modules/ecommerces/client/views/partials/products.partial.view.html'"></div>

    <!-- section 5 -->
    <!-- 書類送付先の設定 / tax info -->
    <div ng-if="vm.municInfo.is_setting_docs" ng-include="'/modules/ecommerces/client/views/partials/tax-info.partial.view.html'"></div>

    <!-- section 6 -->
    <div ng-include="'/modules/ecommerces/client/views/partials/card.partial.view.html'"></div>

    <!-- section 7 -->
    <div ng-include="'/modules/ecommerces/client/views/partials/oneshop-info.partial.view.html'"></div>

    <!-- section 8 -->
    <div ng-include="'/modules/ecommerces/client/views/partials/note.partial.view.html'"></div>

    <div class="row d-flex content-center mg30b">
      <div class="col-xs-6 col-sm-3 action-btn">
        <button class="btn btn-default btn-sm w100p" style="background-color: #e7e7e7;"
          ui-sref="company.ecommerces.pay1(vm.params)" type="button">
          戻る
        </button>
      </div>
      <div class="col-xs-6 col-sm-3 action-btn">
        <!-- ui-sref="company.ecommerces.pay-confirm" -->
        <button class="btn btn-primary btn-sm w100p" type="submit" ng-disabled="!vm.isSave">
          次へ
        </button>
      </div>
    </div>
  </form>
</section>

<style scoped>
  .mb-0 {
    margin-bottom: 0 !important;
  }
</style>