<section class="container-ecommerce">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="mg20b">{{vm.product.name}}</h4>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="picture-wrapper">
        <div class="picture">
          <img src="{{vm.avatar}}" />
        </div>
      </div>
      <div class="picture-scrolling">
        <div class="picture-scrolling-wrapper">
          <div class="picture-scrolling-item" ng-class="{ 'active': vm.isSelected($index)}"
            ng-repeat="picture in vm.product.pictures track by $index">
            <div class="picture" ng-click="vm.setAvatar(picture, $index)">
              <img src="{{picture}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="mg40t">
        <table class="table table-product-detail">
          <tbody>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.capacity.label' | translate}}</th>
              <td class="col-xs-8 col-md-9" ng-bind="vm.product.capacity"></td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.expire_status.label' | translate}}</th>
              <td class="col-xs-8 col-md-9" ng-bind="vm.product.expire_detail"></td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.business_person.label' | translate}}</th>
              <td class="col-xs-8 col-md-9" ng-bind="vm.product.operator"></td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.application_conditions.label' | translate}}
              </th>
              <td class="col-xs-8 col-md-9">
                {{vm.getApplyCondition()}}
              </td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.deadline.label' | translate}}</th>
              <td class="col-xs-8 col-md-9">
                <span ng-if="vm.product.is_deadline !== 2">{{showMasterValue(vm.master.deadline_status,
                  vm.product.is_deadline)}}</span>
                <span ng-if="vm.product.is_deadline === 2">{{vm.product.deadline}}</span>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.ship_date.label' | translate}}</th>
              <td class="col-xs-8 col-md-9 break-line" ng-bind="vm.product.ship_date"></td>
            </tr>
            <tr ng-if="vm.product.municipality.is_usage_system !== 1">
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.accepted_schedule.label' | translate}}</th>
              <td class="col-xs-8 col-md-9 break-line" ng-bind="vm.acceptedScheduleText"></td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.ship_method.label' | translate}}</th>
              <td class="col-xs-8 col-md-9">
                {{showMasterValue(masterdata.ship_methods, vm.product.ship_method)}}
                <span ng-if="vm.product.ship_method !== 3">
                  <br>
                  ※発送後、ご不在等によりお受け取りいただけず、保管期限を経過した場合は発送元に返送となります。返礼品の再発送はいたしませんのでご了承ください。また、受取人様のご都合で保管期限以降に受け取られた場合も、返礼品の交換、再発送等のご要望には対応いたしかねます。
                </span>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.except_place.label' | translate}}</th>
              <td class="col-xs-8 col-md-9">
                <span ng-repeat="item in vm.product.except_place_options">
                  <span ng-if="item !== 2">{{showMasterValue(vm.master.except_place_options, item)}}</span>
                  <span ng-if="item === 2">{{vm.product.except_place}}</span>
                  <br>
                </span>
              </td>
            </tr>
            <tr>
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.except_date.label' | translate}}</th>
              <td class="col-xs-8 col-md-9" ng-bind="vm.product.except_date"></td>
            </tr>
            <tr ng-if="vm.product.municipality.is_setting_gift_bows">
              <th class="col-xs-4 col-md-3">{{'ecommerce.products.detail.is_accept_noshi.label' | translate}}</th>
              <td class="col-xs-8 col-md-9">
                {{showMasterValue(vm.master.accept_noshi_status, vm.product.is_accept_noshi)}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="product-detail-mobile">
        <div><b>{{'ecommerce.products.detail.description.label' | translate}}</b></div>
        <p class="break-line" ng-bind="vm.product.description"></p>
      </div>
      <div id="payment" class="mg30b">
        <div class="mg12b"><b>{{'ecommerce.products.detail.total_amount.label' | translate}}</b></div>
        <div class="price mg12b">
          <span class="number font-4xl">{{vm.product.price * vm.quantityProduct | format_money :false : true}}</span>
          <span class="currency">{{'common.label.unit.money' | translate}}</span>
        </div>
        <div class="d-flex align-center mg15b">
          <span class="w100">{{'ecommerce.products.detail.quantity.label' | translate}}</span>
          <input type="number" number-integer-only min="1" class="form-control w100 mg6l mg6r"
            ng-disabled="vm.product.sell_status !== 1" ng-model="vm.quantityProduct"
            ng-blur="vm.setDefaultValueQuantity($event)" />
          <button class="btn btn-primary" ng-if="vm.product.sell_status === 1" ng-click="vm.addToCart()">
            {{'ecommerce.products.detail.button.add_to_cart' | translate}}
          </button>
          <button class="btn btn-primary" disabled ng-if="vm.product.sell_status !== 1" ng-click="vm.addToCart()">
            {{'ecommerce.products.detail.button.add_to_cart_disable' | translate}}
          </button>
        </div>
        <div class="mg15b">{{'ecommerce.products.detail.payment_methods.label' | translate}}</div>
        <div class="payment-methods">
          <img src="/modules/core/client/img/payments/visa.png" />
          <img src="/modules/core/client/img/payments/mastercard.png" />
          <img src="/modules/core/client/img/payments/jcb.png" />
          <img src="/modules/core/client/img/payments/american-express.png" />
        </div>
      </div>
      <div class="product-detail-not-mobile">
        <div class="mg20y"><b>{{'ecommerce.products.detail.description.label' | translate}}</b></div>
        <p class="break-line" ng-bind="vm.product.description"></p>
      </div>
      <div class="mg30y row">
        <!-- <div class="col-xs-6 action-btn">
          <button class="btn btn-primary btn-sm w100p" ui-sref="company.ecommerces.home">
            {{'ecommerce.products.detail.button.top' | translate}}
          </button>
        </div> -->
        <div class="col-xs-6 action-btn">
          <button class="btn btn-defaut btn-sm w100p" ui-sref="company.ecommerces.home">
            {{'ecommerce.products.detail.button.back' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<style scoped>
  .picture-wrapper {
    width: 400px;
    max-width: 100%;
    margin: auto;
  }

  .picture {
    position: relative;
    padding-top: 75%;
    width: 100%;
  }

  .picture>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
  }

  .picture-scrolling {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .picture-scrolling-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .picture-scrolling-item {
    cursor: pointer;
    width: 55px;
    max-width: 15%;
    margin: 8px;
    border: 1px solid #aeadac;
  }

  .picture-scrolling-item.active {
    border: 1px solid red;
  }

  .picture-scrolling-item img {
    border: none
  }

  .table-product-detail tbody tr th {
    background-color: #f2f3f3 !important;
    border: 1px solid #bdbdbd;
    vertical-align: middle;
  }

  .table-product-detail tbody tr td {
    padding: 8px 8px 8px 16px;
    background-color: #fff !important;
    border: 1px solid #bdbdbd;
  }

  #payment {
    width: 100%;
    padding: 20px;
    background-color: #f2f3f3;
  }

  #payment .price>.number {
    font-weight: bold;
    color: red;
  }

  #payment .price>.number::after {
    content: '\00a0';
  }

  #payment .payment-methods {
    display: inline-block;
  }

  #payment .payment-methods>img {
    width: auto;
    height: 45px;
    max-height: 70px;
    max-width: 60px;
    margin-right: 15px;
  }

  .product-detail-mobile {
    display: initial;
  }

  .product-detail-not-mobile {
    display: none;
  }

  @media (min-width: 767px) {
    #payment .payment-methods>img {
      height: 60px;
      max-height: 100px;
      max-width: 120px;
    }

    .product-detail-mobile {
      display: none;
    }

    .product-detail-not-mobile {
      display: initial;
    }
  }
</style>