<section class="container-ecommerce">
  <h4>申し込み内容の確認</h4>

  <!-- section 1 -->
  <div class="d-flex">
    <h5><b>申込み内容概要</b></h5>
  </div>
  <div class="border-split"></div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      寄付先の自治体
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      {{vm.municInfo.prefecture}} {{ vm.municInfo.name }}
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      寄付額
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      {{vm.cart.subtotal | format_money}}(内ポイント利用{{vm.cart.points_used | format_point}})
    </div>
  </div>
  <div class="border-split"></div>
  <div class="d-flex space-between mg12y">
    <h5><b>寄付金の使い道</b></h5>
    <button class="btn btn-sm w80"
      data-ui-sref="company.ecommerces.pay1({municId: vm.municId, using: vm.usingId, isBack: 1})">
      変更
    </button>
  </div>
  <div class="border-split"></div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      寄付金の使い道
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" ng-bind="vm.using.name"></div>
  </div>
  <div class="border-split"></div>
  <div class="d-flex space-between mg12y">
    <h5><b>寄付者情報</b></h5>
    <button class="btn btn-sm w80"
      ui-sref="company.ecommerces.pay2({municId: vm.municId, usingId: vm.usingId, isBack: 1})">
      変更
    </button>
  </div>
  <div class="border-split"></div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      寄付者名
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" ng-bind="vm.data.info.last_name + '　' + vm.data.info.first_name">
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      寄付者名(かな)
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" ng-bind="vm.data.info.last_name_kana + '　' + vm.data.info.first_name_kana">
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      郵便番号(ハイフン無し)
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" ng-bind="vm.data.zipcode | format_zipcode"></div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      住所
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4"
      ng-bind="vm.data.prefecture + vm.data.city + vm.data.address + vm.data.building">
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      ふるさと納税関連書類のお届け先
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      <span ng-if="vm.data.docs.doc_is_same_resident === 1">
        住民票の住所と同じ
      </span>
      <span ng-if="vm.data.docs.doc_is_same_resident === 2">
        {{vm.data.docs.doc_add_last_name + ' ' + vm.data.docs.doc_add_first_name}}
        <br />
        {{vm.data.docs.doc_add_zipcode | format_zipcode}}<br />
        {{vm.data.docs.doc_add_prefecture + vm.data.docs.doc_add_city + vm.data.docs.doc_add_address +
        vm.data.docs.doc_add_building}} <br />
        ☎{{vm.data.docs.doc_add_tel}}
      </span>
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      電話番号(ハイフンあり)
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" ng-bind="vm.data.info_contact.phone"></div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      メールアドレス
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      <a href="mailto:{{vm.data.info_contact.email}}" ng-bind="vm.data.info_contact.email"></a>
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      お支払い方法
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      クレジットカード払い
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      カード番号
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" ng-bind="vm.hashNumberCard()">
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      カード有効期限
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">**/**</div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      セキュリティコード
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      ***
    </div>
  </div>
  <div class="border-split"></div>
  <div class="d-flex space-between mg12y">
    <h5><b>返礼品・お届け先</b></h5>
    <button class="btn btn-sm w80"
      ui-sref="company.ecommerces.pay2({municId: vm.municId, usingId: vm.usingId, isBack: 1})">
      変更
    </button>
  </div>
  <div class="item-product" ng-repeat="item in vm.cart.products">
    <div class="border-split" style="border: 1px solid #ccc"></div>
    <h5><b>{{item.product.name}}</b></h5>
    <div class="row mg12y d-flex">
      <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
        お届け先
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4">
        <span ng-if="vm.data.products[item.product._id].is_same_resident === '2'">
          {{vm.data.products[item.product._id].last_name + ' ' + vm.data.products[item.product._id].first_name + '/' +
          vm.data.products[item.product._id].last_name_kana + ' ' + vm.data.products[item.product._id].first_name_kana}}
          <br />
          {{vm.data.products[item.product._id].zipcode | format_zipcode}}<br />
          {{vm.data.products[item.product._id].prefecture + vm.data.products[item.product._id].city +
          vm.data.products[item.product._id].address + vm.data.products[item.product._id].building}} <br />
          ☎{{vm.data.products[item.product._id].tel}}
        </span>
        <span ng-if="vm.data.products[item.product._id].is_same_resident !== '2'">
          寄付者の住所と同じ
          <!-- {{vm.data.info.last_name + ' ' + vm.data.info.first_name + '/' + vm.data.info.last_name_kana + ' ' +
          vm.data.info.first_name_kana}}<br />
          {{vm.data.zipcode | format_zipcode}}<br />
          {{vm.data.prefecture + vm.data.city + vm.data.address + vm.data.building}}<br />
          ☎{{vm.data.info_contact.phone}} -->
        </span>

      </div>
    </div>
    <div class="row mg12y d-flex">
      <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
        発送期日
      </div>
      <div class="col-xs-8 col-sm-6 col-md-8  word-break break-line" ng-bind="item.product.ship_date"></div>
    </div>
    <div class="row mg12y d-flex">
      <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
        単価
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4">
        <span class="price mg40r">
          <span class="number" ng-bind="item.price | format_money"></span>
        </span>
      </div>
    </div>
    <div class=" row mg12y d-flex">
      <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
        数量
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4" ng-bind="item.quantity"></div>
    </div>
    <div class="row mg12y d-flex" ng-if="vm.data.products[item.product._id].is_show_note_address">
      <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
        のしの希望
      </div>
      <div class="col-xs-8 col-sm-6 col-md-8 word-break break-line"
        ng-bind="vm.data.products[item.product._id].note_detail_address">
      </div>
    </div>
    <div class="row mg12y d-flex">
      <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
        配達希望
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4">
        <span ng-if="!vm.data.products[item.product._id].accepted_schedule">指定不可</span>
        <!-- {{vm.data.products}} -->
        <span ng-if="vm.data.products[item.product._id].accepted_schedule"
          ng-bind="vm.data.products[item.product._id].accepted_schedule">
        </span>
      </div>
    </div>

  </div>

  <div class="border-split"></div>
  <div class="row mg12y mg0x d-flex">
    <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-4 col-md-push-8 total-price">
      <div class="row mg12y">
        <div class="col-xs-5 col-md-6 pay-label">
          小計：
        </div>
        <div class="col-xs-7 col-md-6 text-right">
          <span class="price mg20r">
            <span class="number">{{vm.cart.subtotal | format_money : false : true}}</span>
            <span class="currency">円</span>
          </span>
        </div>
      </div>
      <div class="row mg12y d-flex">
        <div class="col-xs-5 col-md-6 pay-label">
          ポイント利用：
        </div>
        <div class="col-xs-7 col-md-6 text-right">
          <span class="price mg20r">
            <span class="number">{{vm.cart.points_used | format_point : false : true}}</span>
            <span class="currency">pt</span>
          </span>
        </div>
      </div>
      <div class="row mg12y d-flex">
        <div class="col-xs-5 col-md-6 pay-label">
          <b>合計：</b>
        </div>
        <div class="col-xs-7 col-md-6 text-right">
          <span class="price mg20r">
            <span class="number text-red"><b>{{vm.cart.total_amount | format_money : false : true}}</b></span>
            <span class="currency">円</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="border-split"></div>
  <div class="d-flex space-between mg12y">
    <h5><b>申込オプション</b></h5>
    <button class="btn btn-sm w80"
      ui-sref="company.ecommerces.pay2({municId: vm.municId, usingId: vm.usingId, isBack: 1})">
      変更
    </button>
  </div>
  <div class="border-split"></div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      ワンストップ特例申請
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      <span ng-if="vm.data.apply.apply_is_need === 1">希望しない</span>
      <span ng-if="vm.data.apply.apply_is_need !== 1">希望する ({{vm.data.apply.apply_sex === 1 ? '男性' : '女性'}}
        {{vm.getBirthDay(vm.data.apply)}})</span>
    </div>
  </div>
  <div class="row mg12y d-flex">
    <div class="col-xs-4 col-sm-4 col-md-4 pay-label">
      申込に関する備考
    </div>
    <div class="col-xs-8 col-sm-6 col-md-8 word-break break-line" ng-bind="vm.data.note_question"></div>
  </div>
  <div class="border-split"></div>
  <div class="card">
    <div class="card-header-custome">申込前の最終確認</div>
    <div class="card-body">
      <p class="text-left">
        寄付完了後はキャンセルや申込内容を変更することはできません。<br />
        入力内容が正しいかご確認の上お申し込みください。</p>
    </div>
  </div>

  <div class="row mg12y d-flex">
    <div class="col-md-8 pay-label text-center">
      <input type="checkbox" id="accept_term" style="cursor: pointer;" ng-model="vm.is_accept_term">
      <label for="accept_term" style="cursor: pointer;">申し込み内容を確認したうえで申し込みます。</label>
    </div>
  </div>

  <div class="row d-flex content-center mg30y">
    <div class="col-xs-6 col-sm-3 action-btn">
      <button class="btn btn-default btn-sm w100p" style="background-color: #e7e7e7;"
        ui-sref="company.ecommerces.pay2({municId: vm.municId, usingId: vm.usingId, isBack: 1})">
        戻る
      </button>
    </div>
    <div class="col-xs-6 col-sm-3 action-btn">
      <button class="btn btn-primary btn-sm w100p" ng-disabled="!vm.is_accept_term" ng-click="vm.submitOrder()">
        申し込む
      </button>
    </div>
  </div>

  <div class="row mg12y">
    <div class="text-red mg10l" ng-repeat="message in vm.errorMessages track by $index">{{message}}
    </div>
  </div>
</section>

<style scoped>
  .card-header-custome {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: #ff0000e6;
    text-align: center;
    color: white;
    padding: 8px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
  }
</style>