<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-12 mg20t mg20l mg20r">
      <label for="status">{{'com_projects.detail.send_status.label' | translate}}</label>
      <select name="status" class="form-control" ng-model="vm.sendStatus">
        <option ng-repeat="item in masterdata.sent_statuses" ng-value="{{item.id}}"> {{item.value}}</option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="closeThisDialog()">{{'common.button.close' |
    translate}}</button>
  <button class="btn btn-primary" type="button" ng-click="vm.save()">{{'common.button.save' | translate}}</button>
</div>