<section class="content container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mg10b">
        <div class="col-xs-6">
          <h4>
            <span class="page_title_clickable" ui-sref="admin.sub_admins.list">
              {{'sub_admins.list.page.label' | translate}}
            </span>
            <span>&nbsp;></span>
            <form-title-only></form-title-only>
          </h4>
        </div>
        <div class="col-xs-6 text-right">
          <button-edit back="admin.sub_admins.list" noback="admin.sub_admins.create" state="admin.sub_admins.edit"
            params="{subAdminId: vm.subAdmin._id}"></button-edit>
        </div>
      </div>

      <div class="table-responsive notice-form">
        <table class="table table-bordered table-detail">
          <tbody>
            <tr>
              <th class="col-xs-2">{{ 'sub_admins.detail.name.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.subAdmin.name"></td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'sub_admins.detail.email.label' | translate }}</th>
              <td class="col-xs-10" >
                <a href="mailTo:{{vm.subAdmin.email}}">{{vm.subAdmin.email}}</a>
              </td>
            </tr>
            <tr>
              <th class="col-xs-2">{{ 'sub_admins.detail.created.label' | translate }}</th>
              <td class="col-xs-10" ng-bind="vm.subAdmin.created | dateTimeNormal"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mg10b">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4 text-center">
        <button-edit back="admin.sub_admins.list" noback="admin.sub_admins.create" state="admin.sub_admins.edit"
            params="{subAdminId: vm.subAdmin._id}"></button-edit>
      </div>
    </div>
  </div>
</section>