<section class="content container-fluid">
  <form name="vm.subAdminForm" class="form-edit notice-form" ng-submit="vm.createOrUpdate(vm.subAdminForm.$valid)"
    novalidate autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>
              <span class="page_title_clickable" ui-sref="admin.sub_admins.list">
                {{'sub_admins.list.page.label' | translate}}
              </span>
              <span>&nbsp;></span>
              <form-title-only></form-title-only>
            </h4>
          </div>
        </div>

        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>

              <tr>
                <th class="col-xs-2">
                  {{ 'sub_admins.form.name.label' | translate }}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input name="name" type="text" class="form-control" ng-model="vm.sub_admin.name"
                    placeholder="{{'sub_admins.form.name.placeholder' | translate}}" required>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'sub_admins.form.email.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input name="email" type="email" class="form-control" ng-model="vm.sub_admin.email"
                    placeholder="{{'sub_admins.form.email.placeholder' | translate}}" required>
                </td>
              </tr>

              <tr ng-if="!vm.sub_admin._id">
                <th class="col-xs-2">
                  {{'sub_admins.form.password.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors>
                  <input type="password" name="password" class="form-control" ng-model="vm.sub_admin.password"
                    placeholder="{{'sub_admins.form.password.placeholder' | translate}}" required maxlength="16" minlength="8" min="8" max="16" >
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="admin.sub_admins.list"></button-back>
          <button-save></button-save>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.subAdminForm.name.$error" role="alert">
            <li class="text-red" ng-message="required">{{'sub_admins.form.name.error.required' | translate}}</li>
          </div>
          <div ng-messages="vm.subAdminForm.email.$error" role="alert">
            <li class="text-red" ng-message="required">{{'sub_admins.form.email.error.required' | translate}}</li>
            <!-- <li class="text-red" ng-message="maxlength">{{'companies.form.name.error.max_length' | translate}}</li> -->
          </div>

          <div ng-messages="vm.subAdminForm.password.$error" role="alert">
            <li class="text-red" ng-message="required">{{'sub_admins.form.password.error.required' | translate}}</li>
            <li class="text-red" ng-message="maxlength">{{'sub_admins.form.password.error.length' | translate}}</li>
            <li class="text-red" ng-message="minlength">{{'sub_admins.form.password.error.length' | translate}}</li>
          </div>

        </div>
      </div>
    </div>
  </form>
</section>