<div class="modal-body">
  <div class="table-custom" style="border:0px;">
    <table class="table table-detail">
      <tbody>
        <tr>
          <td class="col-xs-12 text-center" colspan="2">
            <div class="row mg12y align-center">
              <div class="col-xs-12">
                <textarea class="form-control" ng-model="reason" , placeholder="申請コメントを入力してください。" cols="30" rows="5">
                </textarea>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-xs-12" colspan="2">
            <div class="row pdn">
              <div class="col-xs-12 text-center">
                <button class="btn btn-warning btn-sm" type="button"
                  ng-click="closeThisDialog()">{{'common.modal.button.cancel' | translate}}</button>
                <button class="btn btn-primary btn-sm" ng-disabled='!reason'
                  ng-click="confirm()">{{'common.modal.button.done' |
                  translate}}</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>