<section class="content container-fluid">
  <div class="row mg10b">
    <div class="col-xs-6">
      <form-title></form-title>
    </div>
  </div>
  <table-search>
    <table-search-button>
      <a class="btn btn-success btn-sm pull-right mg5r" data-ui-sref="admin.notices.create">
        <span class="glyphicon glyphicon-plus"></span> {{'common.button.add' | translate}}
      </a>
    </table-search-button>
    <table-search-content>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div class="form-group">
          <label>{{'notice.list.search.keyword.label' | translate}}</label>
          <input type="text" name="keyword" class="form-control" ng-model="vm.condition.keyword"
            placeholder="{{'notice.list.search.keyword.placeholder' | translate}}"
            event-enter="vm.handleConditionChanged(true)" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'notice.list.search.delivery_status.label' | translate}}</label>
          <select name="delivery_status" class="form-control" ng-model="vm.condition.delivery_status">
            <option value="">{{'common.label.option_all' | translate}}</option>
            <option value="undelivered">{{ 'notice.list.delivery_status.undelivered' | translate }}</option>
            <option value="during_delivery">{{'notice.list.delivery_status.during_delivery' | translate}}</option>
            <option value="expired">{{'notice.list.delivery_status.expired' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'notice.list.search.target.label' | translate}}</label>
          <select name="target" class="form-control" ng-model="vm.condition.target">
            <option value="">{{'common.label.option_all' | translate}}</option>
            <option ng-repeat="item in masterdata.notice_targets" value="{{item.id}}"> {{item.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'notice.list.search.start_time_min.label' | translate}}</label>
          <input type="text" name="start_time_min" datetime-picker="" datepicker-options="vm.dateOptionsStartTimeMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'start_time_min')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.start_time_min" class="form-control"
            ng-model="vm.condition.start_time_min" ng-change="vm.onChangeStartTimeMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'notice.list.search.start_time_max.label' | translate}}</label>
          <input type="text" name="start_time_max" datetime-picker="" datepicker-options="vm.dateOptionsStartTimeMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'start_time_max')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.start_time_max" class="form-control"
            ng-model="vm.condition.start_time_max" ng-change="vm.handleConditionChanged(false, 'start_time_max', {{
              vm.condition.start_time_max || 'null'
            }}); vm.onChangeStartTimeMax()" />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'notice.list.search.end_time_min.label' | translate}}</label>
          <input type="text" name="end_time_min" datetime-picker="" datepicker-options="vm.dateOptionsEndTimeMin"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'end_time_min')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.end_time_min" class="form-control"
            ng-model="vm.condition.end_time_min" ng-change="vm.onChangeEndTimeMin()" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'notice.list.search.end_time_max.label' | translate}}</label>
          <input type="text" name="end_time_max" datetime-picker="" datepicker-options="vm.dateOptionsEndTimeMax"
            timepicker-options="timeOptions" ng-click="openCalendar($event, 'end_time_max')"
            placeholder="YYYY/MM/DD HH:mm" is-open="open.end_time_max" class="form-control"
            ng-model="vm.condition.end_time_max" ng-change="vm.handleConditionChanged(false, 'end_time_max', {{
              vm.condition.end_time_max || 'null'
            }}); vm.onChangeEndTimeMax()" />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label>{{'common.label.max_row_in_page' | translate}}</label>
          <input type="text" input-number name="limit" class="form-control" ng-model="vm.condition.limit"
            placeholder="{{'common.placeholder.max_row_in_page' | translate}}" search-limit maxlength="4" />
        </div>
      </div>
    </table-search-content>
  </table-search>

  <div class="row">
    <!-- 各ボタン -->
    <div class="col-xs-12">
      <div class="title-group">
        <p class="mgn title-group__inline-title">
          {{ tableReport(vm.condition) }}
        </p>
      </div>
    </div>
    <!-- #各ボタン -->
    <div class="col-xs-12">
      <div class="table-responsive table-list">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-index">#</th>
              <th class="w150" tbtitle="{{'notice.list.table.header.title' | translate}}" tbmodel="title"
                ng-click="vm.handleSortChanged('title')" table-order tbcondition="vm.condition"></th>
              <th class="text-center w100" tbtitle="{{'notice.list.table.header.delivery_status' | translate}}"
                tbmodel="send" ng-click="vm.handleSortChanged('send')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-center w150" tbtitle="{{'notice.list.table.header.start_time' | translate}}"
                tbmodel="start_time" ng-click="vm.handleSortChanged('start_time')" table-order
                tbcondition="vm.condition">
              </th>
              <th class="text-center w150" tbtitle="{{'notice.list.table.header.end_time' | translate}}"
                tbmodel="end_time" ng-click="vm.handleSortChanged('end_time')" table-order tbcondition="vm.condition">
              </th>
              <th class="text-center w150">
                {{'notice.list.table.header.target' | translate}}
              </th>
              <th class="w200">
                {{'notice.list.table.header.municipalities' | translate}}
              </th>
              <th class="w200">
                {{'notice.list.table.header.companies' | translate}}
              </th>
              <th class="text-center w150">{{'common.table.header.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="10" ng-show="!vm.docs || vm.docs.length === 0">
                {{'common.table.no_data_available' | translate}}
              </td>
            </tr>
            <tr ng-repeat="item in vm.docs track by $index">
              <td class="text-center clickable" ui-sref="admin.notices.detail({ noticeId: item._id })">
                {{ tableIndex(vm.condition, $index) }}
              </td>
              <td class="clickable" ng-bind="item.title" ui-sref="admin.notices.detail({ noticeId: item._id })">
              </td>
              <td class="text-center clickable" ng-bind="item | notice_status"
                ui-sref="admin.notices.detail({ noticeId: item._id })"></td>
              <td class="text-center clickable" ng-bind="item.start_time | dateTimeNormal"
                ui-sref="admin.notices.detail({ noticeId: item._id })"></td>
              <td class="text-center clickable" ng-bind="item.end_time | dateTimeNormal"
                ui-sref="admin.notices.detail({ noticeId: item._id })"></td>

              <td class="text-center clickable" ng-bind="showMasterValue(masterdata.notice_targets, item.target)"
                ui-sref="admin.notices.detail({ noticeId: item._id })"></td>

              <!-- municipalities -->
              <td ng-if="!item.municipalities || item.municipalities.length === 0"
                ui-sref="admin.notices.detail({ noticeId: item._id })"></td>
              <td ng-if="item.municipalities && item.municipalities.length > 0">
                <a ng-repeat="municipality in item.municipalities"
                  data-ui-sref="admin.municipalities.detail({ municId: municipality._id })">
                  {{municipality.name}} </br>
                </a>
              </td>

              <!-- companies -->
              <td ng-if="!item.companies || item.companies.length === 0"
                ui-sref="admin.notices.detail({ noticeId: item._id })"></td>
              <td ng-if="item.companies && item.companies.length > 0">
                <a ng-repeat="company in item.companies"
                  data-ui-sref="admin.companies.detail({ companyId: company._id })">
                  {{company.name | get_company_name :company.kind :masterdata.company_name_affix
                  :masterdata.COMPANY_KIND}}
                  </br>
                </a>
              </td>

              <td class="text-center" ui-sref-ignore>
                <button class="btn btn-xs btn-primary" ng-disabled="vm.NoticesHelper.isHideEditButton(item)"
                  ui-sref="admin.notices.edit({noticeId: item._id})">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  {{'common.button.edit' | translate}}
                </button>
                <button class="btn btn-xs btn-warning" ng-disabled="vm.isDisableStopButton(item)"
                  ng-click="vm.stop(item._id)">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                  {{'common.button.stop' | translate}}
                </button>
                <a class="btn btn-xs btn-danger" ng-click="vm.remove(item._id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  {{'common.button.del' | translate}}
                </a>
                <!-- <a class="btn btn-xs btn-success" data-ui-sref="admin.notices.create({cloneNoticeId: item._id})">
                  <i class="fa fa-clone" aria-hidden="true"></i>
                  {{'common.button.clone' | translate}}
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-include="'/modules/core/client/views/pagination.client.view.html'"></div>
    </div>
  </div>
</section>