<section class="content container-fluid">
  <form name="vm.noticeForm" class="form-edit notice-form" ng-submit="vm.update(vm.noticeForm.$valid)" novalidate
    autocomplete="off">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mg10b">
          <div class="col-xs-6">
            <h4>
              <span class="page_title_clickable" ui-sref="admin.notices.list">
                {{'notice.list.page.title' | translate}}
              </span>&nbsp;>
              <form-title-only></form-title-only>
            </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button-back back="admin.notices.list"></button-back>
            <button-save></button-save>
          </div>
        </div>
        <div class="table-custom">
          <table class="table table-detail table-bordered">
            <tbody>
              <tr>
                <th class="col-xs-2">
                  {{'notice.form.title.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <input type="text" name="title" class="form-control" ng-model="vm.notice.title"
                    placeholder="{{'notice.form.title.placeholder' | translate}}" required maxlength="100">
                </td>
              </tr>
              <tr>
                <th class="col-xs-2">
                  {{'notice.form.content.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-10 form-group" show-errors colspan="3">
                  <textarea name="content" class="form-control" rows="10" ng-model="vm.notice.content"
                    placeholder="{{'notice.form.content.placeholder' | translate}}" required>
                  </textarea>
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'notice.form.start_time.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group datetime-picker" show-errors>
                  <input type="text" name="start_time" datetime-picker="" datepicker-options="vm.dateOptionsStartTime"
                    timepicker-options="timeOptions" ng-click="openCalendar($event, 'start_time')"
                    placeholder="YYYY/MM/DD HH:mm" is-open="open.start_time" class="form-control"
                    ng-model="vm.notice.start_time" required ng-change="vm.onChangeStartTime()" readonly />
                </td>
                <th class="col-xs-2">
                  {{'notice.form.end_time.label' | translate}}
                  <span class="text-red">*</span>
                </th>
                <td class="col-xs-4 form-group datetime-picker" show-errors>
                  <input type="text" name="end_time" datetime-picker="" datepicker-options="vm.dateOptionsEndTime"
                    timepicker-options="timeOptions" ng-click="openCalendar($event, 'end_time')"
                    placeholder="YYYY/MM/DD HH:mm" is-open="open.end_time" class="form-control"
                    ng-model="vm.notice.end_time" required ng-change="vm.onChangeEndTime()" readonly />
                </td>
              </tr>

              <tr>
                <th class="col-xs-2">
                  {{'notice.form.target.label' | translate}}
                </th>
                <td class="col-xs-10 radio" colspan="3">
                  <div style="margin: 2px 30px 2px 0px; display: inline-block;"
                    ng-repeat="item in masterdata.notice_targets">
                    <label>
                      <input type="radio" class="clickable" ng-click="vm.notice.target = item.id; vm.onChangeTarget();"
                        name="target" ng-checked="vm.notice.target === item.id" value="{{item.id}}"
                        id="target_{{item.id}}">{{item.value}}
                    </label>
                  </div>
                </td>
              </tr>

              <tr ng-if="vm.notice.target === vm.NOTICE_TARGET.CONDITION">
                <th class="col-xs-2">
                  {{'notice.form.municipalities.label' | translate}}
                  <span class="text-red" ng-if="vm.isRequiredCompaniesOrMunicipalities()">*</span>
                </th>
                <td class="col-xs-10 form-group" colspan="3" show-errors>
                  <select name="municipalities" class="form-control selectpicker" ng-model="vm.notice.municipalities"
                    multiple data-live-search="true" title="{{'notice.form.municipalities.placeholder' | translate}}"
                    ng-required="vm.isRequiredCompaniesOrMunicipalities()">
                    <option ng-repeat="item in vm.municipalities" value="{{item._id}}"> {{item.name}}</option>
                  </select>
                </td>
              </tr>
              <tr ng-if="vm.notice.target === vm.NOTICE_TARGET.CONDITION">
                <th class="col-xs-2">
                  {{'notice.form.companies.label' | translate}}
                  <span class="text-red" ng-if="vm.isRequiredCompaniesOrMunicipalities()">*</span>
                </th>
                <td class="col-xs-10 form-group" colspan="3" show-errors>
                  <select name="companies" class="form-control selectpicker" ng-model="vm.notice.companies" multiple
                    data-live-search="true" title="{{'notice.form.companies.placeholder' | translate}}"
                    ng-required="vm.isRequiredCompaniesOrMunicipalities()">
                    <option ng-repeat="item in vm.companies" value="{{item._id}}"> {{item.name | get_company_name
                      :item.kind :masterdata.company_name_affix :masterdata.COMPANY_KIND}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group mgnb mg50b text-center">
          <button-back back="admin.notices.list"></button-back>
          <button-save></button-save>
        </div>

        <div class="messages mg30t" ng-if="vm.isSaveClick">
          <div ng-messages="vm.noticeForm.title.$error" role="alert">
            <li class="text-red" ng-message="required">{{'notice.form.title.error.required' | translate}}</li>
          </div>
          <div ng-messages="vm.noticeForm.content.$error" role="alert">
            <li class="text-red" ng-message="required">{{'notice.form.content.error.required' | translate}}</li>
          </div>
          <div ng-messages="vm.noticeForm.start_time.$error" role="alert">
            <li class="text-red" ng-message="required">{{'notice.form.start_time.error.required' | translate}}</li>
            <li class="text-red" ng-message="datetime">{{'notice.form.start_time.error.datetime' | translate}}</li>
          </div>
          <div ng-messages="vm.noticeForm.end_time.$error" role="alert">
            <li class="text-red" ng-message="required">{{'notice.form.end_time.error.required' | translate}}</li>
            <li class="text-red" ng-message="datetime">{{'notice.form.end_time.error.datetime' | translate}}</li>
          </div>
          <div ng-messages="vm.noticeForm.municipalities.$error" role="alert">
            <li class="text-red" ng-message="required">{{'notice.form.municipalities.error.required' | translate}}</li>
          </div>
          <div ng-messages="vm.noticeForm.companies.$error" role="alert">
            <li class="text-red" ng-message="required">{{'notice.form.companies.error.required' | translate}}</li>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>