<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-12 mg20t mg20l mg20r">
      <label for="status">{{'point_history.detail.used.table.header.payment_status' | translate}}</label>
      <select name="status" class="form-control" ng-model="vm.isPaid"
        ng-options="item.id as item.value for item in masterdata.payment_statuses"></select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="closeThisDialog()">{{'common.button.close' |
    translate}}</button>
  <button class="btn btn-primary" type="button" ng-click="vm.save()" ng-disabled="!vm.isPaid">{{'common.button.save' |
    translate}}</button>
</div>